---
// COMPONENTS //
import { Image } from "astro:assets";
import Badge from "../Badge.astro";
import RoundedButton from "../RoundedButton.astro";

//PROPS//
interface Props {
  name: string;
  image: string;
  title: string;
  subtitle: string;
  description: string;
  date: string;
  badgeItems: string[];
  btnOneText: string;
  btnTwoText: string;
  view?: string;
  animate?: string;
}

const {
  name,
  image,
  title,
  subtitle,
  description,
  date,
  badgeItems,
  btnOneText,
  btnTwoText,
  view = "grid",
  animate = "anim-fade-in-up",
} = Astro.props as Props;
---

<!-- Project Card -->
<div
  class={view == "grid"
    ? `flex gap-7 lg:gap-12 flex-col md:flex-row`
    : `flex gap-7 lg:gap-12 flex-col`}
>
  <!-- Project Card Image -->
  <Image
    src={`/images/${image}.jpg`}
    alt={`Image for ${name}`}
    width={327}
    height={238}
    class={view == "grid"
      ? `h-full w-full md:w-[370px] md:h-[400px] xl:w-[744px] xl:h-[498px] rounded-3xl ${animate}`
      : `h-full w-full rounded-3xl ${animate}`}
  />

  <!-- Content -->
  <div class="flex flex-col justify-between gap-8 md:gap-20 lg:gap-40">
    <!-- Details Wrap -->
    <div class="flex flex-col gap-7 lg:gap-8">
      <!-- Header -->
      <div class="flex flex-col gap-2 md:gap-3">
        <p
          class=`text-n-950 text-2xl leading-tight font-normal md:text-3xl lg:text-4xl ${animate} delay-800`
        >
          {title}
        </p>
        <div class=`flex flex-wrap gap-2 md:gap-2.5 ${animate} delay-1000`>
          {badgeItems.map((badgeItem) => <Badge badgeText={badgeItem} />)}
        </div>
      </div>

      <!-- About -->
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-7">
        <p
          class=`text-n-700 text-sm leading-tight font-medium md:text-base lg:text-lg ${animate} delay-1400`
        >
          {subtitle}
        </p>
        <p
          class=`text-n-600 text-xs leading-tight font-normal md:text-sm lg:text-base ${animate} delay-1600`
        >
          {description}
        </p>
        <p class=`text-n-700 text-xs leading-tight font-normal md:text-sm ${animate} delay-1800`>
          {date}
        </p>
      </div>
    </div>

    <!-- Buttons -->
    <div class=`flex flex-row gap-3.5 md:gap-4 ${animate} delay-2400`>
      <RoundedButton buttonText={btnOneText} onClick={""} />
      <RoundedButton buttonText={btnTwoText} onClick={""} variant="secondary" />
    </div>
  </div>
</div>
