---
// COMPONENTS //
import { Image } from "astro:assets";
import Badge from "@/components/Badge.astro";
import RoundedButton from "@/components/RoundedButton.astro";

// Define Props //
interface Props {
  name: string;
  image: string;
  title: string;
  subtitle: string;
  description: string;
  date: string;
  badgeItems: string[];
  buttonOneText: string;
  buttonTwoText: string;
  view?: "list" | "grid";
}

const {
  name,
  image,
  title,
  subtitle,
  description,
  date,
  badgeItems,
  buttonOneText,
  buttonTwoText,
  view = "grid",
} = Astro.props as Props;
---

<!-- Project Card -->
<div
  id="portfolio-showcase-project-card"
  class=`flex gap-7 lg:gap-12 flex-col ${view === "list" ? "md:flex-row" : ""}`
>
  <!-- Project Card Image -->
  <div
    class=`w-full rounded-3xl overflow-hidden ${view === "list" ? "flex-1" : "h-[196px] md:h-[224px] lg:h-[395px]"}`
  >
    <Image
      src={image}
      alt={`Image for ${name}`}
      width={327}
      height={238}
      class="h-full w-full object-cover"
      loading="lazy"
    />
  </div>

  <!-- Content -->
  <div
    class=`flex flex-1 flex-col justify-between lg:gap-16 gap-8 ${view === "list" ? "lg:gap-40 md:gap-20 " : ""}`
  >
    <!-- Details Wrap -->
    <div class="flex flex-col gap-7 lg:gap-8">
      <!-- Header -->
      <div class="flex flex-col gap-2 md:gap-3">
        <!-- Title -->
        <p class=`text-n-950 text-2xl leading-tight font-normal md:text-3xl lg:text-4xl`>
          {title}
        </p>

        <!-- Badges -->
        <div class=`flex flex-wrap gap-2 md:gap-2.5`>
          {badgeItems.map((badgeItem) => <Badge badgeText={badgeItem} />)}
        </div>
      </div>

      <!-- About -->
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-7">
        <!-- SubTitle -->
        <p class=`text-n-700 text-sm leading-tight font-medium md:text-base lg:text-lg `>
          {subtitle}
        </p>

        <!-- Description -->
        <p class=`text-n-600 text-xs leading-tight font-normal md:text-sm lg:text-base `>
          {description}
        </p>

        <!-- Date -->
        <p class=`text-n-700 text-xs leading-tight font-normal md:text-sm `>
          {date}
        </p>
      </div>
    </div>

    <!-- Buttons -->
    <div class=`flex flex-row gap-3.5 md:gap-4`>
      <!-- Primary Button -->
      <RoundedButton buttonText={buttonOneText} onClick={""} />

      <!-- Secondary Button -->
      <RoundedButton buttonText={buttonTwoText} onClick={""} variant="secondary" />
    </div>
  </div>
</div>
