---
// COMPONENTS //
import { Image } from "astro:assets";
import Badge from "../Badge.astro";
import RoundedButton from "../RoundedButton.astro";

//PROPS//
interface Props {
  name: string;
  image: string;
  title: string;
  subtitle: string;
  description: string;
  date: string;
  badgeItems: string[];
  btnOneText: string;
  btnTwoText: string;
  view?: string;
}

const {
  name,
  image,
  title,
  subtitle,
  description,
  date,
  badgeItems,
  btnOneText,
  btnTwoText,
  view = "grid",
} = Astro.props as Props;
---

<!-- Project Card -->
<div
  id="portfolio-showcase-project-card"
  class=`flex gap-7 lg:gap-12 flex-col ${view == "grid" ? "md:flex-row" : ""}`
>
  <!-- Project Card Image -->
  <Image
    src={image}
    alt={`Image for ${name}`}
    width={327}
    height={238}
    class=`flex-1 h-full w-full rounded-3xl ${view == "grid" ? "md:w-[370px] md:h-[400px] xl:w-[744px] xl:h-[498px]" : ""}`
  />

  <!-- Content -->
  <div class="flex flex-col justify-between gap-8 md:gap-20 lg:gap-40">
    <!-- Details Wrap -->
    <div class="flex flex-col gap-7 lg:gap-8">
      <!-- Header -->
      <div class="flex flex-col gap-2 md:gap-3">
        <!-- Title -->
        <p class=`text-n-950 text-2xl leading-tight font-normal md:text-3xl lg:text-4xl`>
          {title}
        </p>
        <!-- Badges -->
        <div class=`flex flex-wrap gap-2 md:gap-2.5`>
          {badgeItems.map((badgeItem) => <Badge badgeText={badgeItem} />)}
        </div>
      </div>

      <!-- About -->
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-7">
        <!-- SubTitle -->
        <p class=`text-n-700 text-sm leading-tight font-medium md:text-base lg:text-lg `>
          {subtitle}
        </p>
        <!-- Description -->
        <p class=`text-n-600 text-xs leading-tight font-normal md:text-sm lg:text-base `>
          {description}
        </p>
        <!-- Date -->
        <p class=`text-n-700 text-xs leading-tight font-normal md:text-sm `>
          {date}
        </p>
      </div>
    </div>

    <!-- Buttons -->
    <div class=`flex flex-row gap-3.5 md:gap-4`>
      <!-- Button-1 -->
      <RoundedButton buttonText={btnOneText} onClick={""} />
      <!-- Button-2 -->
      <RoundedButton buttonText={btnTwoText} onClick={""} variant="secondary" />
    </div>
  </div>
</div>
