---
// COMPONENTS //
import ToolBadge from "src/components/ToolBadge.astro";
import { Image } from "astro:assets";

// SVG's //
import Ball3D from "src/assets/3d-ball.svg";
import { portfolioHero } from "src/data/portfolio/hero.ts";
const { tagTitle, mainHeading, subHeading } = portfolioHero;
---

<!-- Hero Section -->
<section>
  <!-- Container -->
  <div class="relative container mx-auto px-6 py-24 text-center md:gap-9 md:py-40 lg:gap-12">
    <!-- 3D Ball -->
    <div
      class="absolute inset-0 top-[278px] left-[65px] z-[-1] h-9 w-9 md:top-[400px] md:left-[200px] md:h-15 md:h-20 lg:w-16 lg:w-20 xl:top-[330px] xl:left-[120px]"
    >
      <Image src={Ball3D} alt={"3d big ball image"} class={"w-full"} />
    </div>
    <div
      class="absolute inset-0 top-[145px] left-[252.47px] z-[-1] h-5 w-5 rotate-[-22.29deg] md:top-[450px] md:left-[780px] md:h-10 md:h-12 lg:w-11 lg:w-12 xl:top-[300px] xl:left-[1200px]"
    >
      <Image src={Ball3D} alt={"3d small ball image"} class={"w-full"} />
    </div>

    <!-- Content -->
    <div class="flex flex-col items-center gap-8 md:gap-9 lg:gap-10">
      <!-- Tool Badge -->
      <div class="flex flex-col items-center gap-8 md:gap-9 lg:gap-10">
        <ToolBadge icon="comment" text={tagTitle} />
      </div>

      <!-- Headings -->
      <div class="flex flex-col gap-3.5 lg:gap-7">
        <!-- Main heading -->
        <p class="text-3xl leading-tight font-medium tracking-[-1] md:text-5xl lg:text-7xl">
          {mainHeading}
        </p>

        <!-- Subheading -->
        <p
          class="bg-[linear-gradient(90deg,var(--blue-500)_0%,var(--blue-300)_100%))] bg-clip-text text-sm leading-tight tracking-normal text-transparent md:text-lg lg:text-2xl"
        >
          {subHeading}
        </p>
      </div>
    </div>
  </div>
</section>
