---
// COMPONENTS //
import IndustryCard from "src/components/portfolio/IndustryCard.astro";
import { Icon } from "astro-icon/components";
import ToolBadge from "src/components/ToolBadge.astro";

// DATA //
import { industries } from "src/data/portfolio/industries.ts";

const pillText = "Crafted Experiences";
const heading = "Industries Driving Our Impact";
---

<!-- Industries Section -->
<section>
  <!-- Container -->
  <div
    class="container mx-auto flex flex-col justify-center gap-9 px-6 py-16 md:gap-12 md:p-24 lg:gap-14 lg:p-28"
  >
    <!-- Tool Badge and Heading -->
    <div class="flex flex-col items-center gap-3.5 text-center md:gap-4 lg:gap-3.5">
      <!-- Tool Badge -->
      <div class="flex flex-col items-center gap-8 md:gap-9 lg:gap-10">
        <ToolBadge icon="comment" text={pillText} />
      </div>

      <!-- Heading -->
      <p
        class="text-n-950 text-3xl leading-tight font-normal tracking-[-2%] md:text-5xl lg:text-6xl"
      >
        {heading}
      </p>
    </div>

    <!-- Cards and arrows -->
    <div class="group relative flex flex-col gap-8 md:gap-10 lg:items-end">
      <!-- Cards -->
      <div
        id="industry-slider"
        class="hide-scrollbar flex snap-x snap-mandatory gap-6 overflow-x-auto md:gap-8 lg:flex lg:snap-x"
      >
        {
          industries.map((item) => (
            <div class="flex min-w-[100%] snap-start justify-center md:min-w-[70%] lg:min-w-[33.333%]">
              <IndustryCard title={item.title} image={item.image} tags={item.tags} />
            </div>
          ))
        }
      </div>

      <!-- Arrows -->
      <div class="text-n-700 flex justify-center gap-9 self-end text-xl md:px-5 lg:px-6">
        <!-- Left Arrow -->
        <div
          class="hover:border-n-700 flex items-center justify-center gap-10 rounded-full border border-transparent p-1 transition"
        >
          <button id="slide-prev" aria-label="Previous Slide">
            <Icon name="right-arrow" class="h-5 w-5 w-6 rotate-180 md:h-6" />
          </button>
        </div>

        <!-- Right Arrow -->
        <div
          class="hover:border-n-700 flex items-center justify-center gap-10 rounded-full border border-transparent p-1 transition"
        >
          <button id="slide-next" aria-label="Next Slide">
            <Icon name="right-arrow" class="h-5 w-5 w-6 md:h-6" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hiding horizontal scroll -->
<style>
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
  }
</style>

<!-- Button working logic -->
<script>
  const slider = document.getElementById("industry-slider");
  const prevBtn = document.getElementById("slide-prev");
  const nextBtn = document.getElementById("slide-next");

  if (slider && prevBtn && nextBtn) {
    nextBtn.addEventListener("click", () => {
      const scrollAmount = slider.clientWidth;
      slider.scrollBy({ left: scrollAmount, behavior: "smooth" });
    });

    prevBtn.addEventListener("click", () => {
      const scrollAmount = slider.clientWidth;
      slider.scrollBy({ left: -scrollAmount, behavior: "smooth" });
    });
  }
</script>
