---
// COMPONENTS //
import SliderArrows from "@/components/portfolio/SliderArrows.astro";
import ServiceItem from "@/components/ServiceItem.astro";
import ToolBadge from "src/components/ToolBadge.astro";

// DATA //
import { portfolioIndustryDetails } from "src/data/portfolio/industries.ts";
---

<!-- Industries Section -->
<section>
  <!-- Container -->
  <div
    class="container mx-auto flex flex-col justify-center gap-9 px-6 py-16 md:gap-12 md:py-24 md:px-0 lg:gap-14 lg:p-28"
  >
    <!-- Tool Badge and Heading -->
    <div class="flex flex-col items-center gap-3.5 text-center md:gap-4 lg:gap-3.5">
      <!-- Tool Badge -->
      <div class="flex flex-col items-center gap-8 md:gap-9 lg:gap-10">
        <ToolBadge icon="comment" text={portfolioIndustryDetails.badgeTitle} />
      </div>

      <!-- Heading -->
      <p
        class="text-n-950 text-3xl leading-tight font-normal tracking-[-0.02em] md:text-5xl lg:text-6xl"
      >
        {portfolioIndustryDetails.title}
      </p>
    </div>

    <!-- Cards and arrows -->
    <div class="group relative flex flex-col gap-8 md:gap-10 lg:items-end">
      <!-- Cards -->
      <div id="industry-slider" class="embla__viewport hide-scrollbar overflow-hidden">
        <div class="embla__container flex gap-6 md:gap-8">
          {
            portfolioIndustryDetails.industryItems.map((industryItem) => (
              <div class="flex flex-[0_0_100%] justify-center md:flex-[0_0_70%] lg:flex-[0_0_30%]">
                <ServiceItem
                  title={industryItem.title}
                  imageName={industryItem.image}
                  tags={industryItem.tags}
                />
              </div>
            ))
          }
        </div>
      </div>

      <!-- Arrows -->
      <SliderArrows />
    </div>
  </div>
</section>



<!-- Button working logic -->
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script>
  import "src/scripts/industries.ts";
</script>
