---
// COMPONENTS //
import ProjectCard from "@/components/portfolio/ProjectCard.astro";
import MiniProjectCard from "@/components/portfolio/MiniProjectCard.astro";
import { Icon } from "astro-icon/components";

// DATA //
import { portfolioShowcaseDetails } from "@/data/portfolio/showcase";
import ToolBadge from "@/components/ui/ToolBadge.astro";
import SliderArrows from "@/components/ui/SliderArrows.astro";
---

<!-- Portfolio Showcase Section -->
<section id="showcase-section">
  <!-- Container -->
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-8 px-6 py-16 md:gap-11 md:py-24 lg:gap-14 lg:py-28"
  >
    <!-- Header -->
    <div class="flex flex-col items-center justify-center gap-4">
      <!-- Toolbadge -->
      <div class="tool-badge">
        <ToolBadge icon="package" text="Crafted Experiences" />
      </div>

      <!-- Title -->
      <p
        id="header-text"
        class="text-n-950 text-center text-2xl leading-tight font-normal tracking-[-2%] md:text-4xl lg:text-6xl"
      >
        A Showcase of Vision Turned Visual
      </p>
    </div>

    <!-- Portfolio Wrap -->
    <div class="flex max-w-full flex-col gap-10 md:gap-24 lg:gap-32">
      <!-- Portfolio Project Tiles -->
      <div class="flex flex-col gap-10">
        <!-- Tiles -->
        <div class="hidden flex-row justify-end gap-4 px-8 md:flex lg:gap-5">
          <button id="listIconBtn" class="cursor-pointer">
            <Icon
              name={"list"}
              class={`text-n-500 size-5 lg:size-6 hover:size-5.5 lg:hover:size-6.5`}
            />
          </button>
          <button id="gridIconBtn" class="cursor-pointer">
            <Icon name={"grid"} class={`size-5 lg:size-6 hover:size-5.5 lg:hover:size-6.5`} />
          </button>
        </div>

        <!-- Portfolio Cards Wrap -->
        <div
          id="portfolio-project-cards"
          data-view="list"
          class={`group grid data-[view=list]:grid-cols-1 data-[view=grid]:grid-cols-2 data-[view=grid]:md:gap-5 data-[view=grid]:lg:gap-10 gap-10`}
        >
          {
            // Project Cards //
            portfolioShowcaseDetails.projectCardItems.map((projectCard) => (
              <ProjectCard
                name={projectCard.name}
                image={projectCard.image}
                title={projectCard.title}
                subtitle={projectCard.subtitle}
                description={projectCard.description}
                date={projectCard.date}
                badgeItems={projectCard.badgeItems}
                buttonOneText={"View Website"}
                buttonTwoText={"Show Project"}
              />
            ))
          }
        </div>
      </div>

      <!-- Mini Projects Wrap -->
      <div class="embla flex flex-col gap-8 overflow-hidden md:gap-12 lg:gap-16">
        <!-- Mini Projects Content -->
        <div class="flex flex-col gap-5 md:gap-6 lg:gap-7">
          <!-- Title -->
          <p class="text-n-950 text-base leading-tight font-normal md:text-xl lg:text-2xl">
            Mini Projects
          </p>

          <!-- Cards Wrap -->
          <div id="showcase-slider" class="embla__viewport">
            <!-- Embla container -->
            <div class="embla__container flex flex-row">
              <!-- Iterating on Project Cards -->
              {
                // Mini Project Cards //
                portfolioShowcaseDetails.miniProjectCardItems.map((cardItem) => (
                  <div class="embla__slide mr-7 flex max-w-full min-w-0 flex-1 flex-[0_0_327px] lg:flex-[0_0_413px]">
                    <MiniProjectCard
                      id={cardItem.id}
                      title={cardItem.title}
                      badges={cardItem.badges}
                      date={cardItem.date}
                      btnOneText={cardItem.btnOneText}
                      btnTwoText={cardItem.btnTwoText}
                      image={cardItem.image}
                    />
                  </div>
                ))
              }
            </div>
          </div>
        </div>

        <!-- Slider Cta Wrap -->
        <div class="relative flex max-w-full flex-col">
          <!-- Cta Wrap -->
          <div class="self-end justify-self-end">
            <SliderArrows />
          </div>

          <!-- Slider -->
          <div
            class="border-n-500 absolute inset-0 m-auto h-0 w-24 border md:w-36 md:border-2 lg:w-96"
          >
            <div
              id="embla__progress__bar"
              class="absolute top-[-1px] h-0 w-0 border border-blue-500 md:border-2"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import {
    animateShowcaseSection,
    initShowcase,
    initShowcaseSlider,
    animateProjectCards,
  } from "@/scripts/showcase";

  document.addEventListener("DOMContentLoaded", () => {
    initShowcase();
    initShowcaseSlider();
    animateShowcaseSection();
    animateProjectCards();
  });
</script>
