---
// COMPONENTS //
import MiniProjectCard from "@/components/portfolio/MiniProjectCard.astro";

// DATA //
import { portfolioShowcaseDetails } from "@/data/portfolio/showcase";
---

<!-- Portfolio Showcase Section -->
<section>
  <!-- Container -->
  <div class="container mx-auto px-6 py-20">
    <!-- Mini Project Cards Wrap -->
    <div class="scrollbar-hide flex flex-col gap-7 overflow-x-auto md:flex-row">
      {
        portfolioShowcaseDetails.miniProjectCardItems.map((cardItem) => (
          <MiniProjectCard
            id={cardItem.id}
            title={cardItem.title}
            badges={cardItem.badges}
            date={cardItem.date}
            btnOneText={cardItem.btnOneText}
            btnTwoText={cardItem.btnTwoText}
            image={cardItem.image}
          />
        ))
      }
    </div>
  </div>
</section>
