---
// COMPONENTS //
import ProjectCard from "@/components/portfolio/ProjectCard.astro";
import MiniProjectCard from "@/components/portfolio/MiniProjectCard.astro";

// DATA //
import { portfolioShowcaseDetails } from "@/data/portfolio/showcase";
---

<!-- Portfolio Showcase Section -->
<section>
  <div class="container mx-auto px-6 py-20">
    <div class="flex flex-col gap-10">
      {
        portfolioShowcaseDetails.projectCardItems.map((projectCard) => (
          <ProjectCard
            name={projectCard.name}
            image={projectCard.image}
            title={projectCard.title}
            subtitle={projectCard.subtitle}
            description={projectCard.description}
            date={projectCard.date}
            badgeItems={projectCard.badgeItems}
            buttonOneText={"View Website"}
            buttonTwoText={"Show Project"}
            view="grid"
          />
        ))
      }
    </div>

    <!-- Mini Project Cards Wrap -->
    <div class="scrollbar-hide flex flex-col gap-7 overflow-x-auto md:flex-row">
      {
        portfolioShowcaseDetails.miniProjectCardItems.map((cardItem) => (
          <MiniProjectCard
            id={cardItem.id}
            title={cardItem.title}
            badges={cardItem.badges}
            date={cardItem.date}
            btnOneText={cardItem.btnOneText}
            btnTwoText={cardItem.btnTwoText}
            image={cardItem.image}
          />
        ))
      }
    </div>
  </div>
</section>
