---
// COMPONENTS //
import BlogCard from "@/components/blogs/BlogCard.astro";
import ToolBadge from "@/components/ToolBadge.astro";

// DATA //
import { blogSectionDetails } from "@/data/blogs";

// import RoundedButton from "src/components/RoundedButton.astro";
---

<!-- Blogs Section -->
<section>
  <div class="container mx-auto flex flex-col gap-16 px-6 py-20 md:gap-20 md:py-28 lg:gap-24">
    <div class="flex flex-col items-start gap-4 md:gap-5 lg:gap-6">
      <!-- Tool Badge -->
      <ToolBadge icon={"comment"} text={blogSectionDetails.badgeTitle} />

      <!-- Heading -->
      <p
        class="text-n-950 text-2xl leading-tight font-normal tracking-tighter md:text-4xl lg:text-6xl"
      >
        {blogSectionDetails.heading}
      </p>
    </div>

    <!-- Blog Cards and Add More Button -->
    <div class="flex flex-col items-center gap-16">
      <!-- Blog Cards Wrapper -->
      <div class="grid w-full grid-cols-1 gap-12 md:grid-cols-2 md:gap-7 lg:grid-cols-3 lg:gap-12">
        <!-- Blog Cards -->
        {
          blogSectionDetails.blogItems.map((blogItem) => (
            <BlogCard
              imageSrc={blogItem.imageSrc}
              category={blogItem.category}
              date={blogItem.date}
              title={blogItem.title}
              author={blogItem.author}
              href={blogItem.href}
            />
          ))
        }
      </div>

      <!-- Load More Button -->
      <!-- <RoundedButton
        buttonText={blogSectionDetails.loadMoreButton}
        onClick="window.location.href='/404'"
        type="button"
        variant="tertiary"
      /> -->
    </div>
  </div>
</section>
