---
// COMPONENTS //
import ThemeImage from "@/components/ThemeImage.astro";
import ToolBadge from "@/components/ToolBadge.astro";

// DATA //
import { clientSectionDetails, clientItems } from "@/data/clients";
---

<!-- Clients Section -->
<section id="client-logos-section" class="flex items-center justify-center">
  <!-- Container -->
  <div
    class="container flex flex-col flex-wrap items-center justify-center gap-10 px-6 py-24 md:gap-16 md:px-6 md:py-32 lg:gap-20 lg:px-8 lg:py-32"
  >
    <!-- Header Wrapper -->
    <div class="m-auto flex w-full flex-col flex-wrap items-center justify-center gap-6 lg:gap-7">
      <!-- ToolBadge component -->
      <div class="tool-badge flex justify-center">
        <ToolBadge icon="building" text={clientSectionDetails.badgeTitle} />
      </div>

      <!-- Title -->
      <p
        id="header-text"
        class="text-n-950 w-full text-center text-2xl leading-tight font-bold md:text-3xl lg:text-5xl"
      >
        {clientSectionDetails.title}
      </p>
    </div>

    <!-- Client Logo Wrapper -->
    <div class="flex flex-wrap items-center justify-center gap-6">
      <!-- Loop Through Client Logos -->
      {
        clientItems.map((clientItem) => (
          <div class="client-logo flex h-[54px] w-[100px] items-center justify-center md:h-[108px] md:w-[200px] lg:h-[141px] lg:w-[260px]">
            {/* Image themed component */}
            <ThemeImage
              light={`/images/clients/${clientItem.lightImage}`}
              dark={`/images/clients/${clientItem.darkImage}`}
              alt={clientItem.name}
              class="max-h-10 max-w-24 object-contain md:max-h-[70px] md:max-w-[150px] lg:max-h-[90px] lg:max-w-[200px]"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  import { animateClientLogos } from "../../scripts/clients.ts";
  animateClientLogos();
</script>
