---
// COMPONENTS //
import MiniProjectCard from "@/components/portfolio/MiniProjectCard.astro";

const miniProjectItems = [
  {
    id: 1,
    title: "Football Club Barcelona",
    badgeOneText: "Online Course",
    badgeTwoText: "Online Course",
    date: "27 June 2024",
    btnOneText: "visit Website",
    btnTwoText: "Show Project",
    image: "default.jpg",
  },
  {
    id: 2,
    title: "Football Club Barcelona",
    badgeOneText: "Online Course",
    badgeTwoText: "Online Course",
    date: "27 June 2024",
    btnOneText: "visit Website",
    btnTwoText: "Show Project",
    image: "default.jpg",
  },
  {
    id: 3,
    title: "Football Club Barcelona",
    badgeOneText: "Online Course",
    badgeTwoText: "Online Course",
    date: "27 June 2024",
    btnOneText: "visit Website",
    btnTwoText: "Show Project",
    image: "default.jpg",
  },
];
---

<section>
  <div class="flex flex-col gap-10 overflow-x-auto md:flex-row">
    {
      miniProjectItems.map((miniProjectCardItem) => (
        <MiniProjectCard
          id={miniProjectCardItem.id}
          title={miniProjectCardItem.title}
          badgeText1={miniProjectCardItem.badgeOneText}
          badgeText2={miniProjectCardItem.badgeTwoText}
          date={miniProjectCardItem.date}
          btnOneText={miniProjectCardItem.btnOneText}
          btnTwoText={miniProjectCardItem.btnTwoText}
          image={miniProjectCardItem.image}
        />
      ))
    }
  </div>
</section>
