---
//COMPONENTS
import ArticleCard from "@/components/ArticleCard.astro";
//OTHER
import image1 from "../../../public/images/portfolio/article-card/Image1.jpg";
import image2 from "../../../public/images/portfolio/article-card/Image2.jpg";
import image3 from "../../../public/images/portfolio/article-card/Image3.jpg";
import RoundedButton from "@/components/RoundedButton.astro";
---

<!-- Portfolio Section -->
<section>
  <div class="flex flex-col items-center justify-center">
    <!-- Container -->
    <div
      class="container flex flex-col items-center justify-center gap-20 px-6 py-16 md:gap-28 md:py-28 lg:gap-40 lg:px-14 lg:py-52"
    >
      <!-- CARDS -->
      <div class="flex flex-col items-center justify-center gap-16 md:gap-24">
        <!-- CARDS WRAPPER -->
        <div class="flex flex-wrap items-center justify-center gap-24 md:gap-32">
          <!-- ROW1 -->
          <div class="flex flex-col gap-24 md:gap-32 xl:flex-row">
            <ArticleCard
              thumbnail={image1}
              chipItems={["Product Design", "App Development", "Dashboard Design"]}
              title="E-commerce Platform for Local Brands"
              subtitle="Built a scalable e-commerce solution empowering small businesses to sell online with zero code setup."
              isButtonVisible={false}
              ctaText=""
            />
            <ArticleCard
              thumbnail={image2}
              chipItems={["Product Strategy", "Full Stack Development", "UI Design"]}
              title="Billify - For Flybird"
              subtitle="Simplified finances for startups with a clean, intuitive invoice automation platform."
              isButtonVisible={true}
              ctaText=""
            />
          </div>
          <!-- ROW2 -->
          <div class="flex flex-col gap-24 md:gap-32 xl:flex-row">
            <ArticleCard
              thumbnail={image3}
              chipItems={["Product Design", "App Development", "Dashboard Design"]}
              title="E-commerce Platform for Local Brands"
              subtitle="Built a scalable e-commerce solution empowering small businesses to sell online with zero code setup."
              isButtonVisible={true}
              ctaText=""
            />
            <ArticleCard
              thumbnail={image2}
              chipItems={["Product Strategy", "Full Stack Development", "UI Design"]}
              title="Billify - For Flybird"
              subtitle="Simplified finances for startups with a clean, intuitive invoice automation platform."
              isButtonVisible={true}
              ctaText=""
            />
          </div>
        </div>
        <!-- BUTTON -->
        <RoundedButton
          variant="secondary"
          buttonText="Load More Projects"
          leftIcon=""
          rightIcon=""
        />
      </div>
    </div>
  </div>
</section>
