---
//COMPONENTS //
import ArticleCard from "@/components/ArticleCard.astro";
import ProjectCard from "@/components/portfolio/ProjectCard.astro";
import ToolBadge from "@/components/ToolBadge.astro";
import { Image } from "astro:assets";

// DATA //
import { projectCardDetails } from "@/data/portfolio.ts";
import { articleCardDetails } from "@/data/portfolio.ts";
---

<!-- Portfolio Section -->
<section>
  <!-- Container -->
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-20 px-6 py-16 md:gap-28 md:py-28 lg:gap-40 lg:px-14 lg:py-52"
  >
    <!-- Header -->
    <div class="relative flex flex-col items-center justify-center gap-5 md:gap-6 lg:gap-7">
      <ToolBadge icon={"service-icon"} text={"Portfolio"} />
      <!-- Header Text -->
      <div
        class="z-10 flex flex-col text-center text-4xl leading-tight font-medium md:text-6xl lg:text-8xl"
      >
        <p class="text-balance">Building Digital Experiences That</p>
        <p class="bg-linear-to-br from-blue-500 to-purple-500 bg-clip-text text-transparent">
          Perform
        </p>
      </div>
      <!-- Absolute images -->
      <Image
        src="/3d-ball-1.svg"
        alt={"3d big ball image"}
        width={50.68}
        height={48}
        class={"w-[50.68px] h-[48px] md:w-[84.47px] md:h-[80px] absolute top-[157px] left-[8px] z-0 md:top-[269px] md:left-[49px] lg:top-[369px] lg:left-[384.27px]"}
      />
      <Image
        src="/3d-ball-1.svg"
        alt={"3d small ball iamge"}
        width={28}
        height={26.52}
        class={"w-[28px] h-[26.52px] md:w-[48px] md:h-[45.46px] absolute top-[202.59px] left-[252.47px] z-0 md:top-[334px] md:left-[643px] lg:top-[434px] lg:left-[978.27px]"}
      />
    </div>

    <!-- Tile Wrapper -->
    <div class="flex flex-col">
      {
        projectCardDetails.map((card, index) => (
          <div class={index == 0 ? "z-0" : "z-10 mt-[-120px] md:mt-[-195.66px] xl:mt-[-120px]"}>
            <ProjectCard
              brandColor={card.brandColor}
              brandName={card.brandName}
              image={card.image}
              logo={card.logo}
              title={card.title}
              subtitle={card.subtitle}
              badges={card.badges}
            />
          </div>
        ))
      }
    </div>

    <!-- CARDS -->
    <div class="flex flex-col items-center justify-center gap-16 md:gap-24">
      <!-- CARDS WRAPPER -->
      <div class="flex flex-wrap items-center justify-center gap-24 md:gap-32">
        <!-- ROWS -->
        {
          articleCardDetails.map((row) => (
            <div class="flex flex-col gap-24 md:gap-32 xl:flex-row">
              {row.map((card) => (
                <div class="anim-fade-in-up flex-1">
                  <ArticleCard
                    thumbnail={card.thumbnail}
                    brandName={card.brandName}
                    chipItems={card.chipItems}
                    title={card.title}
                    animateClass={card.animateClass}
                    ctaText={card.ctaText}
                  />
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
