---
// COMPONENTS //
import Image from "astro/components/Image.astro";
import ToolBadge from "@/components/ToolBadge.astro";
import ProductItem from "@/components/products/ProductItem.astro";

// DATA //
import { homeProductsDetails, productItems } from "@/data/products";
---

<!-- Product Section -->
<section class="flex flex-col items-center justify-center">
  <!-- Container -->
  <div
    class="lg:32 container flex flex-col items-center justify-center gap-12 px-6 py-40 md:gap-16 md:px-10 lg:gap-20 lg:px-14"
  >
    <!-- Header -->
    <div class="flex flex-col items-center justify-center gap-6 lg:gap-7">
      <!-- Tool Badge -->
      <ToolBadge icon={homeProductsDetails.productIcon} text={homeProductsDetails.toolBadgeText} />

      <!-- Title Wrapper -->
      <div class="flex flex-col items-center justify-center gap-5 lg:gap-6">
        <!-- Heading -->
        <div class="flex flex-wrap items-end justify-center gap-1.5">
          <p
            class="text-n-950 vertical-alignment-middle horizontal-alignment-center text-4xl font-normal tracking-tight md:text-6xl lg:text-7xl"
          >
            {homeProductsDetails.textWrapperBuiltWith}
          </p>
          <Image
            src={`/images/products/${homeProductsDetails.titleWrapperImage}`}
            alt={homeProductsDetails.titleWrapperAlt}
            width={67}
            height={50}
            class="md:h-[76px] md:w-[101px] lg:h-[88px] lg:w-[118px]"
          />
          <p
            class="text-n-950 vertical-alignment-middle horizontal-alignment-center text-4xl font-normal tracking-tight md:text-6xl lg:text-7xl"
          >
            {homeProductsDetails.textWrapperByPixolo}
          </p>
        </div>

        <!-- Message -->
        <p class="text-n-950 text-center text-sm leading-normal font-medium md:text-lg lg:text-2xl">
          {homeProductsDetails.titleWrapperMessage}
        </p>
      </div>
    </div>

    <!-- Products -->
    <div>
      {
        productItems.map((product) => (
          <ProductItem
            name={product.companyName}
            logo={product.companyLogo}
            image={product.imageName}
            description={product.description}
            href={product.href}
          />
        ))
      }
    </div>
  </div>
</section>
