---
// COMPONENTS //
import RetainershipCard from "@/components/Retainership/RetainershipCard.astro";
import RetainershipEmployeeCard from "@/components/Retainership/RetainershipEmployeeCard.astro";
import StepItem from "@/components/Retainership/StepItem.astro";
import RoundedButton from "@/components/RoundedButton.astro";
import ToolBadge from "@/components/ToolBadge.astro";

// DATA //
import { retainershipDetails } from "@/data/retainership";
---

<section>
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-40 px-6 py-40 md:gap-52 md:px-0 lg:gap-60 lg:px-14"
  >
    <!-- Top Half Section -->
    <div class="flex w-full flex-col items-center gap-20 lg:gap-24">
      <!-- Section Header -->
      <div class="flex w-full flex-col items-center gap-7">
        <!-- Tool badge component -->
        <ToolBadge icon={retainershipDetails.badgeIcon} text={retainershipDetails.badgeTitle} />

        <!-- Section Title -->
        <p
          class="text-n-950 text-center text-2xl leading-tight font-medium md:max-w-[65%] md:text-4xl lg:max-w-[874px] lg:text-6xl"
        >
          {retainershipDetails.title}
        </p>
      </div>

      <!-- Steps Title -->
      <div class="flex w-full flex-col items-center gap-10 md:gap-7">
        <p class="text-n-950 text-center text-2xl leading-tight font-medium tracking-tight">
          {retainershipDetails.stepsTitle}
        </p>

        <!-- Steps Items -->
        <div
          class="before:bg-n-300 relative flex flex-col items-center gap-48 before:absolute before:top-0 before:left-1/2 before:-z-1 before:h-full before:w-1.5 before:-translate-x-1/2 before:rounded-full md:gap-72"
        >
          {
            retainershipDetails.stepItems.map((step) => (
              <StepItem
                number={step.number}
                title={step.title}
                description={step.description}
                direction={step.direction}
              />
            ))
          }
        </div>
      </div>
    </div>

    <!-- Bottom Half Section -->
    <div class="flex w-full flex-col items-center gap-14 lg:gap-16">
      <!-- Cards Main Title -->
      <p
        class="text-n-950 w-full text-center text-xl leading-tight font-medium md:text-3xl lg:w-[80%] lg:text-5xl"
      >
        {retainershipDetails.contentHeading}
      </p>

      <div class="flex w-full flex-col items-center gap-20">
        <!-- Retainership Cards -->
        <div class="flex w-full flex-col items-center gap-10">
          <div class="grid w-full place-items-center gap-5 md:grid-cols-2 xl:grid-cols-4">
            {
              retainershipDetails.retainershipCardItems.map((card) => (
                <RetainershipCard
                  number={card.number}
                  title={card.title}
                  description={card.description}
                />
              ))
            }
          </div>
        </div>

        <!-- Employee Cards -->
        <div class="flex w-full flex-col items-center gap-14 md:gap-16">
          <div class="flex w-full flex-col gap-7">
            <!-- Employee Cards Title -->
            <p
              class="text-n-950 text-lg leading-tight font-medium tracking-tight md:text-xl lg:text-2xl"
            >
              {retainershipDetails.employeeCardTitle}
            </p>

            <!-- Employee Card Component -->
            <div class="grid w-full gap-6 lg:gap-4 xl:grid-cols-3">
              {
                retainershipDetails.employeeCardItems.map((emp) => (
                  <RetainershipEmployeeCard
                    image={emp.image}
                    name={emp.name}
                    position={emp.position}
                    salary={emp.salary}
                    experience={emp.experience}
                  />
                ))
              }
            </div>
          </div>
        </div>

        <!-- Extend Team Button -->
        <RoundedButton
          buttonText="Extend your Team Now"
          rightIcon="right-arrow"
          variant="tertiary"
        />
      </div>
    </div>
  </div>
</section>
