---
// COMPONENTS //
import ServiceItem from "../../components/ServiceItem.astro";
import ToolBadge from "../../components/ToolBadge.astro";

// DATA
import { services } from "../../data/services";

const serviceDetails = {
  badgeTitle: "Services we offer",
  title: "We deliver client-focused solutions that drive results and build lasting partnerships.",
};
---

<!-- Service Section -->
<section class="bg-n-50">
  <!-- Container -->
  <div
    class="container mx-auto flex w-full flex-col flex-wrap items-center justify-center gap-12 px-6 py-16 md:gap-16 md:px-0 md:py-28 lg:gap-20 lg:px-8 lg:py-36"
  >
    <!-- Section Header -->
    <div class="relative flex flex-col flex-wrap gap-6 lg:gap-7">
      <!-- Tool Badge -->
      <div class="flex items-center justify-center self-start">
        <ToolBadge icon="service-icon" text={serviceDetails.badgeTitle} />
      </div>

      <!-- Text -->
      <p
        class="anim-fade-in-right text-n-950 w-fit text-2xl leading-tight font-normal md:text-5xl lg:text-6xl"
      >
        {serviceDetails.title}
      </p>
    </div>

    <!-- Content Wrap -->
    <div
      class="mx-auto grid w-full grid-cols-1 gap-11 md:gap-16 lg:grid-cols-2 lg:gap-x-12 lg:gap-y-20 2xl:grid-cols-3"
    >
      {
        // Iterating over an array of objects  - services
        services.map((serviceItem) => (
          <ServiceItem
            imageName={serviceItem.imageName}
            title={serviceItem.title}
            tags={serviceItem.tags}
          />
        ))
      }
    </div>
  </div>
</section>
