---
// COMPONENTS //
import ServiceItem from "../../components/ServiceItem.astro";
import ToolBadge from "../../components/ToolBadge.astro";

// DATA
const serviceDetails = {
  badgeTitle: "Services we offer",
  title:
    "We deliver client-focused solutions that drive results and build lasting partnerships.",
  serviceItems: [
    {
      imageName: "service-image",
      title: "Design",
      tags: ["Website", "Mobile", "UI", "App"],
    },
    {
      imageName: "service-image",
      title: "Web & Mobile Apps",
      tags: ["Website", "Mobile", "UI", "App"],
    },
    {
      imageName: "service-image",
      title: "Technology",
      tags: ["Website", "Mobile", "UI", "App"],
    },
  ],
};
---

<!-- Service Section -->
<section class="bg-n-50">
  <!-- Container -->
  <div
    class="flex flex-col flex-wrap justify-center items-center mx-auto container px-6 py-16 md:px-0 md:py-28 lg:px-8 lg:py-36 gap-12 md:gap-16 lg:gap-20 w-full"
  >
    <!-- Section Header -->
    <div class="gap-6 lg:gap-7 flex flex-col flex-wrap relative">
      <!-- Tool Badge -->
      <div class="flex justify-center items-center self-start">
        <ToolBadge icon="service-icon.svg" text={serviceDetails.badgeTitle} />
      </div>

      <!-- Text -->
      <p
        class="anim-fade-in-right text-2xl md:text-5xl lg:text-6xl font-normal leading-tight text-n-950 w-fit"
      >
        {serviceDetails.title}
      </p>
    </div>

    <!-- Content Wrap -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-11 md:gap-16 lg:gap-y-20 lg:gap-x-12 w-full mx-auto"
    >
      {
        // Iterating over an array of objects  - serviceItems
        serviceDetails.serviceItems.map((serviceItem) => (
          <ServiceItem
            imageName={serviceItem.imageName}
            title={serviceItem.title}
            tags={serviceItem.tags}
          />
        ))
      }
    </div>
  </div>
</section>
