---
// COMPONENTS //
import TechBadge from "@/components/tech-interactive/TechBadge.astro";
import ToolBadge from "@/components/ui/ToolBadge.astro";

// OTHERS //
import { getRandomColor, shouldShowText } from "@/scripts/tech-interactive";

// DATA //
import { techInteractiveSectionDetails } from "@/data/tech-interactive";
---

<!-- Tech Interactive Section -->
<section id="tech-interactive-section" class="relative overflow-hidden">
  <!--  Container -->
  <div
    class="relative z-10 container mx-auto flex flex-col items-center justify-center gap-36 px-6 pt-16 pb-72 md:gap-32 md:pt-36 md:pb-96 lg:pt-36 lg:pb-90"
  >
    <!-- Header -->
    <div class="flex flex-col items-center justify-center gap-6 lg:gap-7">
      <!-- Tool Badge Component -->
      <div class="tool-badge">
        <ToolBadge
          icon={techInteractiveSectionDetails.badgeIcon}
          text={techInteractiveSectionDetails.badgeTitle}
        />
      </div>

      <!-- Title -->
      <p
        class="header-text text-n-950 text-center text-2xl leading-tight font-medium md:text-4xl lg:text-5xl xl:w-[85%] 2xl:w-[70%]"
      >
        {techInteractiveSectionDetails.title}
      </p>
    </div>

    <!-- Stats Wrapper -->
    <div class="flex flex-col flex-wrap">
      {
        techInteractiveSectionDetails.statItems.map((statText) => (
          <p class="tech-stat text-n-950 text-center text-4xl leading-tight font-medium tracking-[-0.04em] md:text-6xl lg:text-7xl">
            {statText}
          </p>
        ))
      }
    </div>
  </div>

  <!-- Gravity Tech Badges Container -->
  <div id="tech-badge-container" class="absolute inset-0 z-20 container mx-auto px-6">
    {
      techInteractiveSectionDetails.techBadges.map((badgeItem) => {
        // Get random color and show text
        const color = getRandomColor();
        const showText = shouldShowText();

        return (
          // TechBadge Component
          <div class="tech-badge-wrapper absolute top-0 left-0 opacity-0">
            <TechBadge
              icon={badgeItem.icon}
              text={showText ? badgeItem.name : ""}
              backgroundColor={color}
            />
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .tech-stat {
    opacity: 0;
    transform: translateY(200px);
  }
</style>
<script>
  import {
    animateTechInteractiveSection,
    animateGravityEffect,
  } from "@/scripts/tech-interactive.ts";

  animateTechInteractiveSection();
  animateGravityEffect();
</script>
