---
// COMPONENTS //
import MediaCardBlock from "@/components/blogs/MediaCardBlock.astro";
import HeadingBlock from "@/components/blogs/HeadingBlock.astro";
import ParagraphBlock from "@/components/blogs/ParagraphBlock.astro";
import ListBlock from "@/components/blogs/ListBlock.astro";
import ComparisonBlock from "@/components/blogs/ComparisonBlock.astro";

// TYPES //
import type { BlogBlock } from "@/types/blogs";

interface Props {
  content: BlogBlock[];
}

const { content } = Astro.props as Props;
---

<section class="blog-body container mx-auto space-y-8 px-6 lg:max-w-[955px]">
  {
    content.map((block) => {
      if (block.type === "media") {
        return <MediaCardBlock block={block} />;
      }

      if (block.type === "heading") {
        return <HeadingBlock block={block} />;
      }

      if (block.type === "paragraph") {
        return <ParagraphBlock block={block} />;
      }

      if (block.type === "list") {
        return <ListBlock block={block} />;
      }

      if (block.type === "comparison") {
        return <ComparisonBlock block={block} />;
      }

      return null;
    })
  }
</section>
