---
import { Icon } from "astro-icon/components";

const imageSrc = "/images/blogs/blog-card.png";
const category = "Designing";
const date = "6th Nov 25";
const title = "Get expert design advice to create experiences.";
const author = "Omkar Mitake";
---

<!-- Card Wrapper -->
<div class="text-white">
  <!-- Blog Image -->

  <div>
    <img src={imageSrc} alt={title} />
  </div>

  <!-- Blog Content -->

  <div>
    <!-- Category + Date Row -->

    <div>
      <!-- Category Badge -->

      <div>
        <p>{category}</p>
      </div>

      <!-- Date with Icon -->

      <div>
        <!-- Calendar Icon -->

        <Icon name="lucide:calendar" />

        <p>{date}</p>
      </div>
    </div>

    <!-- Title -->

    <p>{title}</p>

    <!-- Author + Link Row -->

    <div>
      <p>By: {author}</p>

      <!-- Arrow Link -->

      <a href="#">
        <Icon name="lucide:arrow-right" />
      </a>
    </div>
  </div>
</div>
