---
// COMPONENTS //
import { Image } from "astro:assets";
import PlayButton from "@/components/ui/PlayButton.astro";

// DATA //
import type { BlogBlock } from "@/data/blogs";

interface Props {
  content: BlogBlock[];
}

const { content } = Astro.props as Props;
---

<section>
  <div class="container mx-auto px-6">
    <div
      class="mx-auto flex max-w-[995px] flex-col items-center gap-10 whitespace-pre-line lg:items-start"
    >
      {
        content.map((block) => {
          // HEADING BLOCKS
          if (block.type === "heading") {
            if (block.level === 1) {
              return (
                <div class="header-anim flex flex-col gap-10">
                  <div class="flex flex-col gap-3.5">
                    <h1 class="text-n-950 text-3xl leading-normal font-semibold md:text-5xl lg:text-6xl">
                      {block.text}
                    </h1>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:max-w-full lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 2) {
              return (
                <div class="header-anim flex flex-col gap-10">
                  <div class="flex flex-col gap-3.5">
                    <h2 class="text-n-950 text-3xl leading-normal font-medium md:text-5xl lg:text-6xl">
                      {block.text}
                    </h2>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:max-w-full lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 3) {
              return (
                <div class="header-anim flex flex-col gap-10">
                  <div class="flex flex-col gap-6">
                    <h3 class="text-n-950 text-3xl leading-10 font-medium md:text-4xl md:leading-[54px] lg:text-5xl lg:leading-[72px]">
                      {block.text}
                    </h3>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal font-medium md:max-w-[560px] md:text-lg lg:max-w-full lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 4) {
              return (
                <div class="header-anim flex flex-col gap-10">
                  <div class="flex flex-col gap-3.5">
                    <h4 class="text-n-950 text-3xl leading-10 font-medium md:text-4xl md:leading-[54px] lg:text-5xl lg:leading-[72px]">
                      {block.text}
                    </h4>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:max-w-full lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 5) {
              return (
                <div class="header-anim flex flex-col gap-9">
                  <div class="flex flex-col gap-3">
                    <h5 class="text-n-950 text-2xl leading-normal font-semibold md:text-3xl lg:text-4xl">
                      {block.text}
                    </h5>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-xs leading-4 md:max-w-[560px] md:text-base lg:max-w-full lg:text-lg">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 6) {
              return (
                <div class="header-anim flex flex-col gap-10">
                  <div class="flex flex-col gap-3.5">
                    <h6 class="text-n-950 text-2xl leading-normal font-medium md:text-3xl lg:text-4xl">
                      {block.text}
                    </h6>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:max-w-full lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            }
          }

          // PARAGRAPH BLOCKS
          if (block.type === "paragraph") {
            return (
              <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:max-w-full lg:text-xl">
                {block.text}
              </p>
            );
          }

          // MEDIA BLOCKS
          if (block.type === "media") {
            if (block.mediaType === "image") {
              return (
                // Image Block
                <div class="media-anim container flex flex-col items-center gap-4 object-contain md:gap-5 lg:gap-5">
                  <Image
                    src={block.src}
                    alt={block.alt}
                    class="h-60 w-full rounded-3xl object-cover md:h-[363px] lg:h-[594px]"
                    width={995}
                    height={594}
                  />
                  {/* Image Caption */}
                  {block.caption && (
                    <div class="lg:px-24">
                      <p class="text-n-700 max-w-[270px] text-left text-xs leading-normal md:max-w-[560px] md:text-lg lg:max-w-full lg:text-xl">
                        {block.caption}
                      </p>
                    </div>
                  )}
                </div>
              );
            } else if (block.mediaType === "video") {
              return (
                // Video Block
                <div class="media-anim flex w-full flex-col items-center gap-4 overflow-hidden md:gap-5 lg:gap-5">
                  <div class="video-container group relative aspect-video w-full overflow-hidden rounded-3xl md:h-[363px] lg:h-[594px]">
                    <iframe
                      id="blog-video-iframe"
                      class="video-frame h-full w-full object-contain"
                      src={
                        "https://www.youtube.com/embed/dQw4w9WgXcQ?enablejsapi=1&controls=0&rel=0&modestbranding=1&showinfo=0"
                      }
                      title="YouTube video player"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    />

                    {/* Custom Play Button Overlay */}
                    <div class="absolute right-1/2 bottom-1/2 z-10 translate-x-1/2 translate-y-1/2 md:right-11 md:bottom-11 lg:right-12 lg:bottom-14">
                      <PlayButton id="play-button" />
                    </div>
                  </div>

                  {/* Video Caption */}
                  {block.caption && (
                    <div class="lg:px-24">
                      <p class="text-n-700 max-w-[270px] text-left text-xs leading-normal md:max-w-[560px] md:text-lg lg:max-w-full lg:text-xl">
                        {block.caption}
                      </p>
                    </div>
                  )}
                </div>
              );
            }
          }

          // LIST BLOCKS
          if (block.type === "list") {
            // Unordered List
            if (block.listType === "unordered") {
              return (
                <div class="flex flex-col gap-3.5">
                  {/* List Header */}
                  {block.header && (
                    <h2 class="text-n-950 max-w-[270px] text-2xl leading-normal md:max-w-[560px] md:text-3xl lg:text-4xl">
                      {block.header}
                    </h2>
                  )}
                  <ul class="flex max-w-[270px] flex-col gap-2.5 pl-8 md:max-w-[560px]">
                    {/* Mapping out List Pointers */}
                    {block.items.map((item) => (
                      <li class="flex items-center gap-3.5 md:gap-5 lg:gap-6">
                        <div class="bg-n-700 h-1.5 w-1.5 shrink-0 rounded-full" />
                        <div class="text-n-700 flex-1 text-xs leading-normal md:text-lg lg:text-xl">
                          {item}
                        </div>
                      </li>
                    ))}
                  </ul>
                </div>
              );

              // Ordered List
            } else if (block.listType === "ordered") {
              return (
                <div class="flex flex-col gap-3.5">
                  {/* List Header */}
                  {block.header && (
                    <h2 class="text-n-950 text-2xl leading-normal md:text-3xl lg:text-4xl">
                      {block.header}
                    </h2>
                  )}
                  <ol class="flex list-decimal flex-col gap-2.5 pl-8">
                    {/* Iterating List Pointers */}
                    {block.items.map((item) => (
                      <li class="text-n-700 text-xs leading-normal md:text-lg lg:text-xl">
                        {item}
                      </li>
                    ))}
                  </ol>
                </div>
              );
            }
          }

          // COMPARISON TABLE BLOCKS
          if (block.type === "comparison") {
            return (
              <table class="bg-n-50 outline-n-300 w-full max-w-[270px] rounded-2xl outline-[0.7px] md:max-w-[560px] lg:max-w-full">
                <thead>
                  <tr>
                    {block.headers.map((header, listItem) => (
                      <th
                        class={`bg-n-100 text-n-700 p-3 text-center text-sm font-medium md:p-5 md:text-lg lg:p-5 lg:text-xl ${
                          listItem === 0 ? "rounded-tl-2xl" : ""
                        } ${listItem === block.headers.length - 1 ? "rounded-tr-2xl " : ""}`}
                      >
                        {header}
                      </th>
                    ))}
                  </tr>
                </thead>
                <tbody>
                  {block.rows.map((row) => (
                    <tr>
                      {row.map((cell) => (
                        <td class="text-n-700 px-1.5 py-4 text-center text-xs font-medium md:p-5 md:text-base lg:py-5 lg:text-lg">
                          {cell}
                        </td>
                      ))}
                    </tr>
                  ))}
                </tbody>
              </table>
            );
          }
        })
      }
    </div>
  </div>
</section>

<script>
  import { animateHeaderFadeInUp } from "@/scripts/blog-consumption";
  import { animateMediaFadeInUp } from "@/scripts/blog-consumption";
  import { initVideoPlayPause } from "@/scripts/play-button";

  animateHeaderFadeInUp();
  animateMediaFadeInUp();
  initVideoPlayPause("#blog-video-iframe", "#play-button");
</script>
