---
// COMPONENTS //
import { Image } from "astro:assets";

// DATA //
import type { BlogBlock } from "@/data/blogs";

interface Props {
  content: BlogBlock[];
}

const { content } = Astro.props as Props;
---

<section>
  <div class="container mx-auto px-6">
    <div
      class="anim-fade-in-up mx-auto flex max-w-[995px] flex-col items-center gap-10 whitespace-pre-line"
    >
      {
        content.map((block) => {
          // HEADING BLOCKS
          if (block.type === "heading") {
            if (block.level === 1) {
              return (
                <div class="flex flex-col gap-10">
                  <div class="flex flex-col gap-3.5">
                    <h1 class="text-n-950 text-3xl leading-10 font-semibold md:text-5xl md:leading-[72px] lg:text-6xl lg:leading-[90px]">
                      {block.text}
                    </h1>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 2) {
              return (
                <div class="flex flex-col gap-10">
                  <div class="flex flex-col gap-3.5">
                    <h2 class="text-n-950 text-3xl leading-10 font-medium md:text-5xl md:leading-[72px] lg:text-6xl lg:leading-[90px]">
                      {block.text}
                    </h2>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 3) {
              return (
                <div class="flex flex-col gap-10">
                  <div class="flex flex-col gap-6">
                    <h3 class="text-n-950 text-3xl leading-10 font-medium md:text-4xl md:leading-[54px] lg:text-5xl lg:leading-[72px]">
                      {block.text}
                    </h3>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal font-medium md:max-w-[560px] md:text-lg md:font-medium lg:text-xl lg:font-medium">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 4) {
              return (
                <div class="flex flex-col gap-10">
                  <div class="flex flex-col gap-3.5">
                    <h4 class="text-n-950 text-3xl leading-10 font-medium md:text-4xl md:leading-[54px] lg:text-5xl lg:leading-[72px]">
                      {block.text}
                    </h4>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 5) {
              return (
                <div class="flex flex-col gap-9">
                  <div class="flex flex-col gap-3">
                    <h5 class="text-n-950 text-2xl leading-9 font-semibold md:text-3xl md:leading-10 lg:text-4xl lg:leading-[54px]">
                      {block.text}
                    </h5>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-xs leading-4 md:max-w-[560px] md:text-base md:leading-6 lg:text-lg">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            } else if (block.level === 6) {
              return (
                <div class="flex flex-col gap-10">
                  <div class="flex flex-col gap-3.5">
                    <h6 class="text-n-950 text-2xl leading-normal font-medium md:text-3xl lg:text-4xl">
                      {block.text}
                    </h6>
                    {block.paragraph && (
                      <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:text-xl">
                        {block.paragraph}
                      </p>
                    )}
                  </div>
                  {block.link && (
                    <a
                      href={block.link.href}
                      class="relative inline-block w-fit origin-center text-sm leading-normal font-medium text-blue-500 transition-transform after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-current after:transition-[width] after:duration-300 hover:scale-110 hover:after:w-full md:text-lg lg:text-xl"
                    >
                      {block.link.text}
                    </a>
                  )}
                </div>
              );
            }
          }

          // PARAGRAPH BLOCKS
          if (block.type === "paragraph") {
            return (
              <p class="text-n-700 max-w-[270px] text-sm leading-normal md:max-w-[560px] md:text-lg lg:text-xl">
                {block.text}
              </p>
            );
          }

          // MEDIA BLOCKS
          if (block.type === "media") {
            if (block.mediaType === "image") {
              return (
                <div class="flex flex-col items-center gap-4 md:gap-5 lg:gap-5">
                  <Image
                    src={block.src}
                    alt={block.alt}
                    class="h-60 w-full rounded-3xl object-cover md:h-96 lg:h-[594px]"
                    width={995}
                    height={594}
                  />
                  {block.caption && (
                    <div class="md:px-26 lg:px-24">
                      <p class="text-n-700 max-w-[270px] text-left text-xs leading-normal md:max-w-[560px] md:text-lg lg:text-xl">
                        {block.caption}
                      </p>
                    </div>
                  )}
                </div>
              );
            } else if (block.mediaType === "video") {
              return (
                <div class="flex flex-col items-center justify-center gap-3.5 md:gap-5 lg:gap-5">
                  <div class="w-full">
                    <iframe
                      src={block.videoId}
                      title={block.alt}
                      class="h-80 rounded-3xl md:w-96 lg:h-[594px]"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    />
                  </div>
                  {block.caption && (
                    <div class="text-left md:px-26 lg:px-24">
                      <p class="text-n-700 max-w-[270px] text-xs leading-normal md:max-w-[560px] md:text-lg lg:text-xl">
                        {block.caption}
                      </p>
                    </div>
                  )}
                </div>
              );
            }
          }

          // LIST BLOCKS
          if (block.type === "list") {
            if (block.listType === "unordered") {
              return (
                <div class="flex flex-col gap-3.5">
                  {block.header && (
                    <h2 class="text-n-950 text-2xl leading-9 md:text-3xl md:leading-10 lg:text-4xl lg:leading-[54px]">
                      {block.header}
                    </h2>
                  )}
                  <ul class="flex flex-col gap-2.5 pl-8">
                    {block.items.map((item) => (
                      <li class="flex items-center gap-3.5 md:gap-5 lg:gap-6">
                        <div class="bg-n-700 h-1.5 w-1.5 shrink-0 rounded-full" />
                        <div class="text-n-700 flex-1 text-sm leading-normal md:text-lg lg:text-xl">
                          {item}
                        </div>
                      </li>
                    ))}
                  </ul>
                </div>
              );
            } else if (block.listType === "ordered") {
              return (
                <div class="flex flex-col gap-3.5">
                  {block.header && (
                    <h2 class="text-n-950 text-2xl leading-9 md:text-3xl md:leading-10 lg:text-4xl lg:leading-[54px]">
                      {block.header}
                    </h2>
                  )}
                  <ol class="flex list-decimal flex-col gap-2.5 pl-8">
                    {block.items.map((item) => (
                      <li class="text-n-700 text-xs leading-normal md:text-lg lg:text-xl">
                        {item}
                      </li>
                    ))}
                  </ol>
                </div>
              );
            }
          }

          // COMPARISON TABLE BLOCKS
          if (block.type === "comparison") {
            return (
              <table class="bg-n-50 w-full rounded-2xl outline-[0.7px] md:max-w-[560px]">
                <thead>
                  <tr>
                    {block.headers.map((header, i) => (
                      <th
                        class={`bg-n-100 text-n-700 p-3 text-center text-sm font-medium md:p-5 md:text-lg lg:p-5 lg:text-xl ${
                          i === 0 ? "rounded-tl-2xl" : ""
                        } ${i === block.headers.length - 1 ? "rounded-tr-2xl " : ""}`}
                      >
                        {header}
                      </th>
                    ))}
                  </tr>
                </thead>
                <tbody>
                  {block.rows.map((row) => (
                    <tr>
                      {row.map((cell) => (
                        <td class="text-n-700 px-1.5 py-4 text-center text-xs font-medium md:p-5 md:text-base lg:py-5 lg:text-lg">
                          {cell}
                        </td>
                      ))}
                    </tr>
                  ))}
                </tbody>
              </table>
            );
          }
        })
      }
    </div>
  </div>
</section>
