---
const { block } = Astro.props;
const HeadingTag = `h${block.level || 2}`;
---

<section class="flex max-w-[256px] flex-col gap-6 md:max-w-[560px] md:gap-10 lg:max-w-[995px]">
  <!-- Heading -->
  <HeadingTag
    class="text-n-950 text-2xl leading-9 md:text-3xl md:leading-10 lg:text-4xl lg:leading-[54px]"
  >
    {block.heading}
  </HeadingTag>

  <!-- Paragraph -->
  {
    block.body && (
      <div class="text-n-700text-sm leading-5 md:text-lg md:leading-7 lg:text-xl lg:leading-8">
        {block.body}
      </div>
    )
  }

  <!-- Bullets -->
  {
    block.bullets && (
      <ul class="flex flex-col gap-2.5 pl-8">
        {block.bullets.map((point) => (
          <li class="flex gap-3.5 md:gap-5 lg:gap-6">
            <span class="bg-n-700 mt-2 h-1.5 w-1.5 rounded-full" />
            <span class="text-n-700 text-sm leading-4 md:text-lg md:leading-7 lg:text-xl lg:leading-8">
              {point}
            </span>
          </li>
        ))}
      </ul>
    )
  }

  <!-- Link -->
  {
    block.link && (
      <a
        href={block.link.href}
        class="w-fit text-sm leading-5 font-medium text-blue-500 underline md:text-lg md:leading-7 lg:text-xl lg:leading-8"
      >
        {block.link.label}
      </a>
    )
  }
</section>
