---
// COMPONENTS //
import ThemeImage from "@/components/ui/ThemeImage.astro";
import RoundedButton from "@/components/ui/RoundedButton.astro";
import Tag from "@/components/portfolio/showcase/Tag.astro";

interface Props {
  id?: string;
  title: string;
  tagItems: string[];
  date?: string;
  btnOneText: string;
  btnTwoText: string;
  image: string;
}

const { id = "", title, tagItems, date = "", btnOneText, btnTwoText, image } = Astro.props as Props;
---

<!-- MiniProjectCard Component -->
<div id={id} class="flex h-full w-full flex-col gap-2.5 md:gap-4 lg:gap-6">
  <!-- Image part -->
  <div class="h-[218px] overflow-hidden rounded-2xl md:h-[310px] lg:h-[380px]">
    <!-- Card Image -->
    <ThemeImage
      light={image}
      dark={image}
      alt={title}
      class="h-full w-full object-cover"
      width={400}
      height={250}
    />
  </div>

  <!-- Content wrap -->
  <div class="flex flex-1 flex-col justify-between gap-7 md:gap-9 lg:gap-10">
    <!-- About wrap -->
    <div class="flex flex-col gap-4">
      <!-- Header-section -->
      <div class="flex flex-col gap-2">
        <!-- Title -->
        <p class="text-lg leading-tight font-normal md:text-xl lg:text-2xl">{title}</p>

        <!-- Badge wrap -->
        <div class="flex flex-row flex-wrap gap-1.5 gap-y-2">
          {tagItems.map((tagItem) => <Tag tagName={tagItem} />)}
        </div>
      </div>

      {
        date !== "" && (
          // Date
          <p class="text-n-700 text-sm font-normal">{date}</p>
        )
      }
    </div>

    <!-- Cta wrap -->
    <div class="flex flex-row gap-3.5">
      <!-- Primary Button -->
      <RoundedButton buttonText={btnOneText} onClick="window.location.href='/404'" />

      <!-- Secondary Button -->
      <RoundedButton
        buttonText={btnTwoText}
        onClick="window.location.href='/404'"
        variant="secondary"
      />
    </div>
  </div>
</div>
