---
// STYLES //
import ThemeImage from "@/components/ui/ThemeImage.astro";

// COMPONENTS //
import RoundedButton from "@/components/ui/RoundedButton.astro";
import Tag from "@/components/portfolio/showcase/Tag.astro";
import { Icon } from "astro-icon/components";

interface Props {
  id?: string;
  title: string;
  tagItems: string[];
  date?: string;
  btnOneText: string;
  btnTwoText: string;
  image: string;
  buttonOneClick?: string;
  buttonTwoClick?: string;
  platform?: "app" | "web" | "both";
  buttonOneHref?: string;
  buttonTwoHref?: string;
}

const {
  id = "",
  title,
  tagItems,
  date = "",
  btnOneText,
  btnTwoText,
  image,
  buttonOneClick = "",
  buttonTwoClick = "",
  platform = "web",
  buttonOneHref = "#",
  buttonTwoHref = "#",
} = Astro.props as Props;
---

<!-- MiniProjectCard Component -->
<div id={id} class="flex h-full w-full flex-col gap-2.5 md:gap-4 lg:gap-6">
  <!-- Image part -->
  <div class="h-full overflow-hidden rounded-2xl">
    <!-- Card Image -->
    <ThemeImage
      light={image}
      dark={image}
      alt={title}
      class="h-full w-full object-contain"
      width={400}
      height={250}
    />
  </div>

  <!-- Content wrap -->
  <div class="flex flex-1 flex-col justify-between gap-7 md:gap-9 lg:gap-10">
    <!-- About wrap -->
    <div class="flex flex-col gap-4">
      <!-- Header-section -->
      <div class="flex flex-col gap-2">
        <!-- Title -->
        <p class="text-n-950 text-lg leading-tight font-normal md:text-xl lg:text-2xl">{title}</p>

        {
          tagItems.length > 0 && (
            // Badge wrap
            <div class="flex flex-row flex-wrap gap-1.5 gap-y-2">
              {tagItems.map((tagItem) => {
                return tagItem !== "" && <Tag tagName={tagItem} />;
              })}
            </div>
          )
        }
      </div>

      {
        date !== "" && (
          // Date
          <p class="text-n-700 text-sm font-normal">{date}</p>
        )
      }
    </div>

    <!-- Cta wrap -->
    <div class="flex flex-row items-center gap-3.5">
      {
        platform === "app" ? (
          <>
            {/* Play Store */}
            <a
              href={buttonOneClick}
              class="bg-n-950 hover:bg-n-500 flex size-11 cursor-pointer items-center justify-center rounded-full transition-all duration-300 md:size-12 lg:size-14"
            >
              <span class="flex items-center justify-center">
                <Icon name="play-store" class="text-n-100 size-5" />
              </span>
            </a>

            {/* App Store */}
            <a
              href="#"
              class="bg-n-950 hover:bg-n-500 flex size-11 cursor-pointer items-center justify-center rounded-full transition-all duration-300 md:size-12 lg:size-14"
            >
              <Icon name="app-store" class="text-n-100 size-5" />
            </a>
          </>
        ) : (
          // Primary Button
          <RoundedButton buttonText={btnOneText} onClick={buttonOneClick} href={buttonOneHref} />
        )
      }

      <!-- Secondary Button -->
      <RoundedButton
        buttonText={btnTwoText}
        onClick={buttonTwoClick}
        variant="secondary"
        href={buttonTwoHref}
      />
    </div>
  </div>
</div>
