---
// COMPONENTS //
import { Image } from "astro:assets";
import RoundedButton from "@/components/ui/RoundedButton.astro";
import Tag from "@/components/portfolio/showcase/Tag.astro";

// Define Props //
interface Props {
  id?: string;
  name: string;
  image: string;
  title: string;
  subTitle: string;
  description: string;
  date?: string;
  tagItems: string[];
  buttonOneText: string;
  buttonTwoText: string;
  buttonOneClick?: string;
  buttonTwoClick?: string;
}

const {
  id = "",
  name,
  image,
  title,
  subTitle,
  description,
  date = "",
  tagItems,
  buttonOneText,
  buttonTwoText,
  buttonOneClick = "",
  buttonTwoClick = "",
} = Astro.props as Props;
---

<!-- Project Card -->
<div
  id="portfolio-showcase-project-card"
  class=`flex flex-col group-data-[view=list]:md:flex-row gap-3.5 group-data-[view=list]:md:gap-7 group-data-[view=list]:lg:gap-10 group-data-[view=list]:xl:gap-12 group-data-[view=grid]:lg:gap-5`
>
  <!-- Project Card Image -->
  <div
    class=`project-card-image w-full rounded-3xl overflow-hidden group-data-[view=list]:md:flex-1 group-data-[view=list]:md:h-auto`
  >
    <Image
      src={image}
      alt={name}
      width={327}
      height={238}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </div>

  <!-- Content -->
  <div
    class="flex flex-1 flex-col justify-between gap-12 group-data-[view=grid]:px-1 group-data-[view=grid]:md:px-2 group-data-[view=grid]:lg:px-4"
  >
    <!-- Details Wrap -->
    <div
      class="flex flex-col gap-7 group-data-[view=grid]:gap-5 group-data-[view=grid]:md:gap-2 lg:gap-8 group-data-[view=grid]:lg:gap-6"
    >
      <!-- Header -->
      <div class="project-card-header flex flex-col gap-2 md:gap-3">
        <!-- Title -->
        <p class="text-n-950 text-2xl leading-tight font-normal md:text-3xl lg:text-4xl">
          {name}
        </p>

        <!-- Tags -->
        {
          tagItems.length > 0 && (
            <div class="flex flex-wrap gap-2 md:gap-2.5">
              {tagItems.map((tagItem) => {
                return tagItem !== "" && <Tag tagName={tagItem} />;
              })}
            </div>
          )
        }
      </div>

      <!-- About -->
      <div class="project-card-content flex flex-col gap-4 md:gap-6 lg:gap-7">
        <!-- SubTitle -->
        {
          title && (
            <p class="text-n-700 text-sm leading-tight font-medium md:text-base lg:text-lg">
              {title}
            </p>
          )
        }

        <!-- Description -->
        <p class="text-n-600 text-xs leading-tight font-normal md:text-sm lg:text-base">
          {subTitle}
        </p>

        {
          date !== "" && (
            // Date
            <p class="text-n-700 text-xs leading-tight font-normal md:text-sm">{date}</p>
          )
        }
      </div>
    </div>

    <!-- Buttons -->
    <div class="project-card-buttons flex flex-row gap-3.5 group-data-[view=grid]:gap-4 md:gap-4">
      <!-- Primary Button -->
      <RoundedButton buttonText={buttonOneText} onClick={buttonOneClick} />

      <!-- Secondary Button -->
      <RoundedButton buttonText={buttonTwoText} onClick={buttonTwoClick} variant="secondary" />
    </div>
  </div>
</div>
