---
// COMPONENTS //
import ToolBadge from "@/components/ui/ToolBadge.astro";
import StatBox from "src/components/project-consumption/StatBox.astro";

// DATA //
import { impactContent } from "src/data/portfolio/project-consumption/impact";
---

<!-- Impact Section -->
<section>
  <!-- Container -->
  <div
    class="container mx-auto flex flex-col gap-10 px-6 py-20 md:gap-16 md:px-0 md:py-24 lg:gap-20 lg:py-9"
  >
    <!-- Tool Badge and Heading -->
    <div class="flex flex-col items-center gap-3.5 md:gap-4">
      <!-- Tool Badge -->
      <ToolBadge icon={impactContent.badgeIcon} text={impactContent.badgeText} />
      <!-- Heading -->
      <p
        class="heading w-full text-center text-3xl leading-tight font-normal tracking-[-0.02em] md:text-4xl lg:text-5xl"
      >
        {impactContent.heading}
      </p>
    </div>
    <!-- StatsRows -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      {
        impactContent.stats.map((statsItem, index) => (
          <StatBox value={statsItem.statValue} label={statsItem.title} index={index} />
        ))
      }
    </div>
  </div>
</section>

<style>
  /* HEADING */
  .heading {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
