---
// COMPONENTS //
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface props {
  image: string;
  name: string;
  position: string;
  salary: string;
  experience: string;
}

const { image, name, position, salary, experience } = Astro.props as props;
---

<div
  class="flex flex-col gap-2 rounded-3xl bg-gradient-to-r from-(--blue-500) to-[#8B77F3] pb-2 md:gap-3 md:pb-3"
>
  <!-- Employee Details -->
  <div class="bg-n-100 flex flex-col gap-4 rounded-3xl p-5 md:flex-row">
    <!-- Employee image -->
    <Image
      src={image}
      alt={name}
      width={288}
      height={192}
      class="h-48 w-full rounded-2xl object-cover transition-all duration-900 hover:scale-[1.1] md:w-[200px]"
    />

    <!-- Employee Content -->
    <div class="flex w-full cursor-pointer flex-col justify-between gap-8 md:gap-24">
      <div class="flex flex-col gap-1">
        <p class="text-n-950 text-xl leading-tight font-bold md:text-2xl">
          {name}
        </p>
        <p class="text-n-700 text-sm leading-tight font-medium md:text-base">
          {position}
        </p>
      </div>

      <!-- Employee salary starting from -->
      <div class="flex items-center justify-between">
        <div class="flex flex-col">
          <p class="text-n-700 text-sm leading-tight font-medium md:text-base">Starting from</p>

          <!-- Salary -->
          <p class="text-n-700 text-base leading-tight font-medium md:text-lg">
            {salary}
          </p>
        </div>

        <!-- CTA Right Arrow Icon -->
        <a href="/" aria-label={`View details for ${name}`}>
          <Icon name="right-arrow" class="size-[18px]" />
        </a>
      </div>
    </div>
  </div>

  <!-- Experience Details -->
  <div class="text-center text-sm leading-tight md:text-base">
    <span class="font-normal">Experience:</span>
    <span class="font-medium">{experience}</span>
  </div>
</div>
