---
// COMPONENTS //
import RoundedButton from "@/components/RoundedButton.astro";
import { Image } from "astro:assets";

interface Props {
  id: number;
  title: string;
  badgeText1: string;
  badgeText2: string;
  date: string;
  btnOneText: string;
  btnTwoText: string;
  image: string;
}

const { id, title, badgeText1, badgeText2, date, btnOneText, btnTwoText, image } =
  Astro.props as Props;
---

<div class="flex flex-col gap-2.5 p-2 md:gap-4 lg:gap-6">
  <div>
    <!-- image -->
    <Image
      src={`/images/miniprojects/${image}`}
      class="h-full w-full rounded-3xl"
      width={100}
      height={100}
      alt={title}
    />
  </div>
  <!-- Content wrap -->
  <div class="flex flex-col gap-7 md:gap-9 lg:gap-10">
    <!-- About wrap -->
    <div class="flex flex-col gap-4">
      <!-- Header-section -->
      <div class="flex flex-col gap-2">
        <p class="text-lg leading-tight font-normal md:text-xl lg:text-2xl">{title}</p>
        <!-- ToolBadge wrap -->
        <div class="flex flex-row gap-1.5">
          <div class="border-n-800 rounded-3xl border px-2.5 py-1 text-center">
            <!-- Badge Text -->
            <p class="text-n-950 text-xs leading-tight md:text-sm">{badgeText1}</p>
          </div>
          <div class="border-n-800 rounded-3xl border px-2.5 py-1 text-center">
            <!-- Badge Text -->
            <p class="text-n-950 text-xs leading-tight md:text-sm">{badgeText2}</p>
          </div>
        </div>
      </div>
      <p class="text-sm">{date}</p>
    </div>
    <!--Cta wrap  -->
    <div class="flex flex-row gap-3.5">
      <RoundedButton buttonText={btnOneText} />
      <RoundedButton buttonText={btnTwoText} />
    </div>
  </div>
</div>
