---
// COMPONENTS //
import { Image } from "astro:assets";
import RoundedButton from "@/components/ui/RoundedButton.astro";
import Tag from "./Tag.astro";

// Define Props //
interface Props {
  name: string;
  image: string;
  title: string;
  subtitle: string;
  description: string;
  date: string;
  tagItems: string[];
  buttonOneText: string;
  buttonTwoText: string;
}

const { name, image, title, subtitle, description, date, tagItems, buttonOneText, buttonTwoText } =
  Astro.props as Props;
---

<!-- Project Card -->
<div
  id="portfolio-showcase-project-card"
  class=`flex group-data-[view=list]:gap-7 group-data-[view=grid]:gap-3.5 group-data-[view=list]:lg:gap-12 group-data-[view=grid]:lg:gap-5 flex-col group-data-[view=list]:md:flex-row`
>
  <!-- Project Card Image -->
  <div
    class=`project-card-image w-full rounded-3xl overflow-hidden group-data-[view=list]:md:flex-1 group-data-[view=list]:md:h-full group-data-[view=list]:h-[238px] group-data-[view=grid]:h-[196px] group-data-[view=grid]:md:h-[224px] group-data-[view=grid]:lg:h-[394px] group-data-[view=grid]:lg:w-[750px]`
  >
    <Image
      src={image}
      alt={name}
      width={327}
      height={238}
      class="h-full w-full object-cover"
      loading="lazy"
    />
  </div>

  <!-- Content -->
  <div
    class=`flex flex-1 flex-col justify-between lg:gap-12 gap-8 group-data-[view=grid]:px-1 group-data-[view=grid]:md:px-4 group-data-[view=list]:lg:gap-40 group-data-[view=list]:md:gap-20`
  >
    <!-- Details Wrap -->
    <div
      class="flex flex-col gap-7 group-data-[view=grid]:gap-5 group-data-[view=grid]:md:gap-6 lg:gap-8 group-data-[view=grid]:lg:gap-6"
    >
      <!-- Header -->
      <div class="flex flex-col gap-2 md:gap-3">
        <!-- Title -->
        <p
          class=`project-card-title text-n-950 text-2xl leading-tight font-normal md:text-3xl lg:text-4xl`
        >
          {title}
        </p>

        <!-- Tags -->
        <div class=`project-card-tags flex flex-wrap gap-2 md:gap-2.5`>
          {tagItems.map((tagItem) => <Tag tagName={tagItem} />)}
        </div>
      </div>

      <!-- About -->
      <div class="project-card-content flex flex-col gap-4 md:gap-6 lg:gap-7">
        <!-- Description -->
        <p class=`text-n-600 text-xs leading-tight font-normal md:text-sm lg:text-base`>
          {description}
        </p>

        <!-- Date -->
        <p class=`text-n-700 text-xs leading-tight font-normal md:text-sm`>
          {date}
        </p>

        <!-- SubTitle -->
        <p class=`text-n-700 text-sm leading-tight font-medium md:text-base lg:text-lg`>
          {subtitle}
        </p>
      </div>
    </div>

    <!-- Buttons -->
    <div class=`project-card-buttons flex flex-row group-data-[view=grid]:gap-4 gap-3.5 md:gap-4`>
      <!-- Primary Button -->
      <RoundedButton buttonText={buttonOneText} onClick={"window.location.href='/404'"} />

      <!-- Secondary Button -->
      <RoundedButton
        buttonText={buttonTwoText}
        onClick={"window.location.href='/404'"}
        variant="secondary"
      />
    </div>
  </div>
</div>
