---
// STYLES //
import ThemeImage from "@/components/ui/ThemeImage.astro";

// COMPONENTS //
import RoundedButton from "@/components/ui/RoundedButton.astro";

// DEFINE PROPS //
interface Props {
  brandColor: string;
  brandName: string;
  image: string;
  logo: string;
  title: string;
  subtitle: string;
  badges: string[];
  href: string;
}

// PROPS //
const { brandColor, brandName, image, logo, title, subtitle, badges, href } = Astro.props as Props;
---

<!-- Main Project Tile -->
<div
  class={`rounded-[42px] md:rounded-[64px] xl:flex xl:flex-row xl:gap-10`}
  style={`background-color: ${brandColor};`}
>
  <!-- Project Content -->
  <div class="flex flex-1 flex-col gap-6 px-5 py-6 md:gap-8 md:p-10 xl:gap-14 xl:p-20">
    <!-- Logo -->
    <div class="h-[98px] justify-start md:h-[110px]">
      <ThemeImage
        light={logo}
        dark={logo}
        alt={`${brandName} logo`}
        class="h-full object-contain"
      />
    </div>

    <!-- Project Details Wrapper -->
    <div class="flex flex-col gap-5 md:gap-9 xl:gap-10">
      <!-- Project Details -->
      <div class="flex flex-col gap-5 md:gap-6 xl:gap-7">
        {
          badges.length > 0 && (
            // Chip Wrapper
            <div class="flex flex-wrap gap-2">
              {/* Portfolio Chip */}
              {badges?.map((badgeText) => (
                /* Badge */
                <div class="gap-2.5 rounded-3xl border border-white px-2.5 py-2 md:px-3 md:py-2.5">
                  {/* Badge Text */}
                  <p class="text-center text-xs leading-tight font-medium text-white md:text-base">
                    {badgeText}
                  </p>
                </div>
              ))}
            </div>
          )
        }

        <!-- Title Details -->
        <div class="flex flex-col gap-4 text-white xl:gap-5">
          <!-- Title -->
          <p class="text-2xl leading-tight font-semibold md:text-3xl xl:text-4xl">{title}</p>

          <!-- Subtitle -->
          <p class="text-sm leading-tight font-normal md:text-base xl:text-xl">{subtitle}</p>
        </div>
      </div>

      <!-- Rounded Button -->
      <div>
        <RoundedButton buttonText={"View Project"} href={href} />
      </div>
    </div>
  </div>

  <!-- Image -->
  <div class="hidden h-full w-[42%] self-end xl:block">
    <ThemeImage
      light={image}
      dark={image}
      alt={`${brandName} Project Screenshot`}
      class="h-full w-full"
    />
  </div>
</div>
