---
// COMPONENTS
import RoundedButton from "../RoundedButton.astro";
import Badge from "./Badge.astro";

interface Props {
  backgroundColor: string;
  image: string;
  logo: string;
  title: string;
  subtitle: string;
  chipItems: string[];
}

// PROPS
const { backgroundColor, image, logo, title, subtitle, chipItems } = Astro.props;
---

<!-- Main Project Tile -->
<div class=`rounded-[42px] md:rounded-[64px] xl:flex xl:flex-row xl:gap-10 ${backgroundColor}`>
  <!-- Project Content -->
  <div
    class="flex w-[327px] flex-col gap-6 px-5 py-6 md:w-[720px] md:gap-8 md:p-10 xl:w-[767px] xl:gap-[54px] xl:p-20"
  >
    <!-- Logo -->
    <div class="h-[99.78px] w-[287px] content-center justify-start md:h-[111px] md:w-[320px]">
      <img src={logo} alt="logo" class="" />
    </div>

    <!-- Project Details Wrapper -->
    <div class="flex flex-col gap-5 md:gap-9 xl:gap-10">
      <!-- Project Details -->
      <div class="flex flex-col gap-5 md:gap-6 xl:gap-7">
        <!-- Chip Wrapper -->
        <div class="flex flex-wrap gap-2">
          <!-- Portfolio Chip -->
          {chipItems?.map((chipItem: string) => <Badge text={chipItem} />)}
        </div>

        <!-- Title Details -->
        <div class="text-n-950 flex flex-col gap-4 xl:gap-5">
          <!-- Title -->
          <p class="text-2xl leading-tight font-semibold md:text-[32px] xl:text-4xl">{title}</p>

          <!-- Subtitle -->
          <p class="text-sm leading-tight font-normal md:text-base xl:text-xl">{subtitle}</p>
        </div>
      </div>

      <!-- Rounded Button -->
      <div class="">
        <RoundedButton buttonText={"View Case Study"} />
      </div>
    </div>
  </div>

  <!-- Image -->
  <div class="hidden h-[644.41px] w-[617px] xl:block">
    <img src={image} alt="image" class="" />
  </div>
</div>
