---
// COMPONENTS //
import ToolBadge from "@/components/ui/ToolBadge.astro";
import { Image } from "astro:assets";

// SVG's //
import Ball from "@/assets/3d-ball.svg";

// DATA //
import { careerHeroSectionDetails } from "@/data/career/hero";
---

<!-- Career Hero Section -->
<section>
  <div
    id="career-hero"
    class="relative container mx-auto gap-12 px-6 py-24 md:px-0 lg:pt-52 lg:pb-12 2xl:pt-64"
  >
    <!-- Top-left floating marble -->
    <Image
      id="big-marble-career-hero"
      src={Ball}
      alt="Big Marble"
      class="absolute top-[37%] left-4 w-5 md:top-[87%] md:left-50 md:w-16 lg:top-[54%] lg:left-5 lg:w-20"
    />

    <!-- Bottom-right floating marble -->
    <Image
      id="small-marble-career-hero"
      src={Ball}
      alt="Small Marble"
      class="absolute right-[6%] bottom-[29%] w-9 rotate-[-20deg] md:right-[10%] md:bottom-[15%] md:w-11 lg:right-[25%] lg:bottom-[46%] lg:w-12"
      style="animation-duration: 4s"
    />

    <!-- Content  -->
    <div class="flex flex-col items-center gap-8 md:gap-9 lg:gap-10">
      <!-- ToolBadge Component -->
      <div class="tool-badge">
        <ToolBadge
          icon={careerHeroSectionDetails.badgeIcon}
          text={careerHeroSectionDetails.badgeTitle}
        />
      </div>

      <div class="z-10 flex flex-col items-center gap-3.5 md:gap-6 lg:w-[80%] lg:gap-7">
        <!-- Title -->
        <p
          class="word-container flex-wrap text-center text-3xl leading-tight font-medium tracking-[-0.01em] md:text-6xl lg:text-7xl"
          data-animate-word
        >
          {careerHeroSectionDetails.title}
        </p>

        <!-- Subtitle -->
        <p
          class="word-container bg-gradient-to-r from-(--blue-500) to-[#8B77F3] bg-clip-text text-center text-base leading-tight font-medium tracking-normal text-transparent md:text-xl lg:text-2xl"
          data-animate-word
        >
          {careerHeroSectionDetails.subTitle}
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  .word-container {
    display: inline-block;
    opacity: 0;
    transform: translateX(15%);
    transition:
      opacity 2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0ms; /* This will be set by JS */
  }

  /* This class is added by JS to trigger the final state */
  .word-container.is-visible {
    opacity: 1;
    transform: translateX(0);
  }
</style>
<script>
  import { animateHeroTitle, animateMarble } from "@/scripts/hero";

  animateHeroTitle();
  animateMarble("big-marble-career-hero", "career-hero");
  animateMarble("small-marble-career-hero", "career-hero");
</script>
