---
// COMPONENTS //
import { Icon } from "astro-icon/components";

// OTHERS //
import ToolBadge from "../ToolBadge.astro";
import BottomCTA from "../BottomCTA.astro";

const footerDetails = {
  headerIcon: "logo-only",
  headerText:
    "Every line of code we write carries our story of curiosity, courage, and a shared laugh between deadlines.",
  toolBadgeText: "Make the Logo Bigger",
  logoIcon: "text-only-logo",
  logoMessage: "We code better than we socialize. It’s your move.",
  menuFooter: ["Home", "About", "Service", "Career", "Contact"],
  socialLinks: ["instagram", "linkedin", "instagram", "linkedin"],
  bottomIcon: "copyright",
  bottomText: "2025",
};
---

<!-- Footer Container -->
<footer class="bg-n-50">
  <div
    class="container flex flex-col mx-auto px-6 pt-24 pb-8 md:pt-32 md:pb-9 lg:pt-36 lg:pb-10">
    <!-- Header Section :Logo + Tagline  -->
    <div
      class="flex flex-col items-start gap-4 md:gap-5 md:items-start lg:gap-6">
      <!-- Logo -->
      <Icon
        name={footerDetails.headerIcon}
        class="w-11 h-11 md:w-14 md:h-14 lg:w-16 lg:h-16"
      />
      <!-- Tagline -->
      <p
        class="font-normal text-2xl leading-tight text-n-950 tracking-tight md:text-4xl lg:text-5xl">
        {footerDetails.headerText}
      </p>
    </div>

    <!-- Logo Cta Area -->
    <div class="flex flex-col pt-32 gap-8 md:pt-40 md:gap-9 lg:gap-10 lg:pt-48">
      <!-- Tool Badge -->
      <div class="flex justify-center relative">
        <div
          class="rotate-[-9.53deg] absolute right-5 bottom-0 md:right-30 lg:right-40 xl:right-60 2xl:right-90">
          <ToolBadge icon={"building"} text={footerDetails.toolBadgeText} />
        </div>
      </div>
      <!-- Main Logo and message -->
      <div
        class="self-center flex flex-col gap-6 md:gap-8 justify-center items-center">
        <!-- Responsive logo block -->
        <div class="flex w-full lg:w-[945px]">
          <Icon
            name={footerDetails.logoIcon}
            class="text-n-950 w-full h-full"
          />
        </div>
        <!-- Message under logo -->
        <p
          class="text-n-950 text-base font-normal leading-[125%] text-center md:text-xl md:font-normal lg:text-xl">
          {footerDetails.logoMessage}
        </p>
      </div>

      <!-- Bottom CTA -->
      <div class="self-center">
        <BottomCTA />
      </div>
    </div>

    <!-- Bottom Section : Navigation , social links and copyright -->
    <div class="flex flex-col gap-3.5 md:gap-4">
      <div class="flex pt-6 gap-6 justify-center md:pt-10 lg:justify-between">
        <!-- Desktop Footer Menu -->
        <div class="hidden lg:flex lg:gap-7">
          {
            footerDetails.menuFooter.map((menu: string) => (
              <p class="flex gap-10 text-lg leading-[100%] tracking-[2%] text-n-700 self-center hover:rounded-3xl hover:bg-n-200 py-2 px-4 ">
                {menu}
              </p>
            ))
          }
        </div>
        <!-- Social Icons -->
        <div class="flex gap-6 lg:gap-7">
          {
            footerDetails.socialLinks.map((link: string) => (
              // Social icon wrapper
              <div class="flex flex-col justify-center items-center w-10 rounded-full h-10 p-2.5 border border-n-500 md:gap-2 md:p-3 md:w-14 md:h-14 hover:bg-n-200">
                <Icon
                  name={link}
                  class="text-n-700 size-5 self-center md:size-7"
                />
              </div>
            ))
          }
        </div>
      </div>
      <!-- Copyright -->
      <div class="flex gap-1 justify-center items-center md:gap-1.5">
        <Icon name={footerDetails.bottomIcon} class="self-center w-4 h-4" />
        <span class="text-xs text-n-700 leading-[125%] tracking-[0.02em]"
          >{footerDetails.bottomText}</span
        >
      </div>
    </div>
  </div>
</footer>
