---
// COMPONENTS //
import RoundedButton from "@/components/ui/RoundedButton.astro";
import ToolBadge from "@/components/ui/ToolBadge.astro";
import { Image } from "astro:assets";

// SVG's //
import Ball from "@/assets/3d-ball.svg";

// DATA //
import { commitmentSectionDetails } from "@/data/about/commitment";
import { URLS } from "@/infrastructure/constants/urls";
---

<!-- Commitment Section -->
<section id="commitment-section" data-section="Commitment">
  <!-- Container -->
  <div
    id="about-commitment-wrapper"
    class="relative container mx-auto flex flex-col items-center justify-center gap-9 px-6 py-16 md:gap-11 md:py-22 lg:gap-16 lg:px-8 lg:pt-48 lg:pb-24"
  >
    <!-- Large 3D Ball Image -->
    <Image
      id="big-marble-about-commitment"
      src={Ball}
      alt="A floating 3D Ball"
      class="absolute top-[22%] left-6 -z-1 w-9 sm:left-[20%] md:top-[380px] md:left-[50px] md:w-16 lg:top-[65%] lg:left-[16%] lg:w-20 2xl:left-[20%]"
    />

    <!-- Small 3D Ball Image -->
    <Image
      id="small-marble-about-commitment"
      src={Ball}
      alt="A floating 3D Ball"
      class="absolute right-[10%] bottom-[46%] -z-1 w-5 rotate-[-20deg] sm:right-[26%] md:right-[200px] md:bottom-40 md:w-11 lg:right-[35%] 2xl:bottom-[14%]"
      style="animation-duration: 4s"
    />

    <!-- Title Wrap -->
    <div
      class="flex w-full flex-col items-center justify-center gap-3 md:gap-4 lg:w-[86%] lg:gap-5 2xl:w-[75%]"
    >
      <!-- Tool Badge Component -->
      <div class="tool-badge">
        <ToolBadge icon="share-heart" text={commitmentSectionDetails.badgeTitle} />
      </div>

      <!-- Title -->
      <p
        class="word-container text-n-950 text-center text-3xl leading-tight font-medium md:w-[90%] md:text-4xl lg:text-6xl xl:w-[80%]"
        data-animate-word
      >
        {commitmentSectionDetails.title}
      </p>
    </div>

    <div class="flex flex-col items-center justify-center gap-7 md:gap-9 lg:gap-12">
      <!-- Sub Title -->
      <p
        class="word-container text-n-700 font-regular text-center text-base leading-tight tracking-[-0.02em] md:w-[65%] md:text-xl lg:w-[65%] lg:text-2xl"
        data-animate-word
      >
        {commitmentSectionDetails.subTitle}
        <span class="bg-gradient-to-br from-blue-500 to-purple-500 bg-clip-text text-transparent"
          >{commitmentSectionDetails.highlightText}</span
        >
      </p>

      <!-- Rounded Button -->
      <RoundedButton
        buttonText="Start a conversation"
        type="button"
        rightIcon="right-arrow"
        href="/contact/#contact-section"
      />
    </div>
  </div>

  <script>
    import { animateHeroTitle, animateMarble } from "@/scripts/hero.ts";

    animateHeroTitle();
    animateMarble("big-marble-about-commitment", "about-commitment-wrapper");
    animateMarble("small-marble-about-commitment", "about-commitment-wrapper");
  </script>
</section>
