---
// COMPONENTS //
import SectionHeader from "@/components/ui/SectionHeader.astro";
import Image from "astro/components/Image.astro";
import NavigationArrows from "@/components/NavigationArrows.astro";

// DATA //
import { clientGallery } from "@/data/case-studies/case-study-consumption";

const { icon = "right-arrow" } = Astro.props;
---

<section>
  <div
    class="container mx-auto flex flex-col gap-7 px-6 py-16 md:gap-12 md:py-24 lg:gap-16 lg:py-28"
  >
    <SectionHeader
      badgeIcon={clientGallery.badgeIcon}
      badgeText={clientGallery.badgeText}
      sectionTitle={clientGallery.sectionTitle}
    />

    <!-- Image Slideshow -->
    <div class="case-study-gallery-slider relative flex flex-col gap-3">
      <div
        id="embla-cs-gallery-slider"
        class="overflow-hidden rounded-2xl md:rounded-4xl lg:rounded-[60px]"
      >
        <!-- Embla Slide Container -->
        <div class="flex">
          <!-- Iterating through Data & Embla Slides-->
          {
            clientGallery.images.map((clientGalleryImageItem) => (
              <div class="flex-none basis-full">
                <div class="h-40 w-full rounded-3xl md:h-[350px] md:rounded-4xl lg:h-[665px] lg:rounded-[60px]">
                  <Image
                    class="h-full w-full"
                    width={1536}
                    height={665}
                    src={clientGalleryImageItem.imagePath}
                    alt={clientGalleryImageItem.alt}
                  />
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <NavigationArrows icon={icon} />
    </div>
  </div>
</section>

<!-- Button Logic -->
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
