---
// COMPONENTS //
import SectionHeader from "@/components/SectionHeader.astro";
import Image from "astro/components/Image.astro";

// DATA //
import { clientTestimonial } from "@/data/case-studies/1";
---

<section>
  <div
    class="container m-auto flex flex-col gap-7 px-6 py-16 md:w-3xl md:gap-14 md:py-24 lg:w-[1536px] lg:gap-20 lg:py-28"
  >
    <!-- Section Header Component -->
    <SectionHeader
      sectionTitle="What Our Clients Had To Say"
      badgeIcon="package"
      badgeText="What Our Clients Are Saying"
    />

    <!-- Testimonial Content -->
    <div class="flex flex-col items-center gap-8 md:gap-12 md:px-10 lg:flex-row lg:gap-14">
      <!-- Client Testimonial Image -->
      <Image
        id="client-testimonial-image"
        class="lg:anim-fade-in-right rounded-3xl md:rounded-4xl lg:rounded-[60px]"
        width={700}
        height={700}
        src={clientTestimonial.clientImage}
        alt={clientTestimonial.clientName}
      />

      <!-- Client Testimonial Text -->
      <div class="flex flex-col gap-5 md:gap-8 lg:justify-center lg:gap-20">
        <!-- Client Name & Role -->
        <div id="client-info" class="flex flex-col gap-0.5 leading-tight opacity-0 md:gap-2">
          <p class="text-n-950 text-3xl font-semibold md:text-5xl">
            {clientTestimonial.clientName}
          </p>
          <p class="text-n-700 text-xs md:text-xl">{clientTestimonial.clientRole}</p>
        </div>

        <!-- Client Message -->
        <p
          id="client-message"
          class="text-n-800 after:bg-n-500 relative text-sm leading-normal tracking-wide opacity-0 after:mx-auto after:mt-9 after:block after:h-[0.7px] after:w-50 md:text-xl md:after:mt-14 md:after:w-[350px] lg:text-2xl lg:after:mt-20"
        >
          {clientTestimonial.clientMessage}
        </p>
      </div>
    </div>
  </div>
</section>
