---
// COMPONENTS //
import ClientIssues from "@/components/case-studies/ClientIssue.astro";

// Receive data from the parent page
const { data } = Astro.props;
---

<section>
  <!-- Container -->
  <div
    class="container mx-auto flex flex-col gap-11 px-6 py-16 md:gap-14 md:py-20 lg:gap-16 lg:py-24"
  >
    <!-- Section Title  -->
    <p class="text-n-800 text-center text-3xl leading-tight font-medium md:text-5xl">
      {data.title}
    </p>
    <!-- Issue Component -->
    <div class="flex flex-col gap-5">
      <!-- Iterating through data -->
      {
        data.issues.map((clientIssueItem: any) => (
          <ClientIssues
            title={clientIssueItem.name}
            description={clientIssueItem.description}
            issue={clientIssueItem.metric}
            stat={clientIssueItem.value}
          />
        ))
      }
    </div>
  </div>
</section>
