---
// COMPONENTS //
import ClientIssues from "@/components/case-studies/ClientIssue.astro";

// Receive data from the parent page
const { data } = Astro.props;
---

<section id="solution-numbers">
  <div
    class="container m-auto flex flex-col gap-9 px-6 py-16 md:gap-11 md:py-24 lg:gap-12 lg:py-28"
  >
    <p
      id="solution-numbers-header"
      class="text-center text-2xl leading-tight md:text-3xl lg:text-4xl"
    >
      {data.title}
    </p>

    <div id="sol-num-wrap" class="flex flex-col gap-5">
      <!-- Iterate through Data -->
      {
        data.limitations.map((limitationItem: any) => (
          <ClientIssues
            title={limitationItem.name}
            description={limitationItem.description}
            issue={limitationItem.metric}
            stat={limitationItem.value}
          />
        ))
      }
    </div>
  </div>
</section>

<script>
  import { animateNumbersAfterSolution } from "@/scripts/case-studies";

  animateNumbersAfterSolution();
</script>
