---
// STYLES //
import ThemeImage from "@/components/ui/ThemeImage.astro";

// COMPONENTS //
import Badge from "@/components/portfolio/Badge.astro";

// DEFINE PROPS //
interface Props {
  thumbnail: string;
  brandName: string;
  chipItems: string[];
  title: string;
  subtitle?: string;
  animateClass?: string;
  ctaText: string;
  href: string;
}

// PROPS //
const { thumbnail, brandName, chipItems, title, subtitle, animateClass, ctaText, href } =
  Astro.props as Props;
---

<!-- Article Card -->
<a href={href} class="group flex cursor-pointer flex-col gap-4 md:gap-5 lg:gap-6">
  <!-- Thumbnail -->
  <div
    class={`${animateClass} bg-n-100 relative h-auto overflow-hidden rounded-3xl p-4 md:p-5 lg:p-6`}
  >
    <ThemeImage
      light={thumbnail}
      dark={thumbnail}
      alt={`Thumbnail image for ${brandName}`}
      class="h-full w-full rounded-2xl object-contain"
    />

    <div
      class="pointer-events-auto absolute right-[15px] bottom-[16.46px] translate-y-0 opacity-100 transition-all duration-300 ease-in-out md:right-[22px] md:bottom-[28px] xl:pointer-events-none xl:right-[19px] xl:bottom-[47px] xl:translate-y-3 xl:opacity-0 xl:group-focus-within:pointer-events-auto xl:group-focus-within:translate-y-0 xl:group-focus-within:opacity-100 xl:group-hover:pointer-events-auto xl:group-hover:translate-y-0 xl:group-hover:opacity-100"
    >
      <div
        class="bg-n-950 text-n-100 w-fit rounded-4xl px-5 py-3 text-sm font-medium transition-all duration-300 ease-in-out group-hover:scale-105 hover:bg-blue-500 md:px-6 md:py-3.5 lg:px-7 lg:py-4 lg:text-base"
      >
        {ctaText}
      </div>
    </div>
  </div>

  <!-- Article Details -->
  <div class={`text-n-950 ${animateClass} delay-300 flex flex-col gap-3 leading-tight md:gap-3.5`}>
    <!-- Title -->
    <p class="text-2xl font-medium md:text-4xl">{title}</p>

    <!-- Subtitle -->
    <p class="text-sm font-normal md:text-xl lg:text-2xl">{subtitle}</p>
  </div>

  <!-- Tabs -->
  {
    chipItems.length > 0 && (
      <div class={`${animateClass} flex flex-wrap gap-3 delay-300`}>
        {chipItems.map((chipItem) => chipItem !== "" && <Badge text={chipItem} />)}
      </div>
    )
  }
</a>
