---
// STYLES //
import ThemeImage from "@/components/ui/ThemeImage.astro";

// COMPONENTS //
import RoundedButton from "@/components/ui/RoundedButton.astro";
import Badge from "@/components/portfolio/Badge.astro";

// DEFINE PROPS //
interface Props {
  thumbnail: string;
  brandName: string;
  chipItems: string[];
  title: string;
  subtitle?: string;
  animateClass?: string;
  ctaText: string;
}

// PROPS //
const {
  thumbnail = "default-project",
  brandName,
  chipItems,
  title,
  subtitle,
  animateClass,
  ctaText,
} = Astro.props as Props;
---

<!-- Article Card -->
<div class="group flex flex-col gap-4 md:gap-5 lg:gap-6">
  <!-- Thumbnail -->
  <div class={`${animateClass} relative h-[224px] rounded-3xl overflow-hidden md:h-[350px]`}>
    <ThemeImage
      light={thumbnail}
      dark={thumbnail}
      alt={`Thumbnail image for ${brandName}`}
      class="h-full w-full object-cover"
    />

    <div
      class="absolute right-[15px] bottom-[16.46px] block transition ease-in-out group-hover:block md:right-[22px] md:bottom-[28px] lg:right-[19px] lg:bottom-[47px] lg:hidden"
    >
      <RoundedButton buttonText={ctaText} onClick={'window.location.href = "/404"'} />
    </div>
  </div>

  <!-- Article Details -->
  <div class={`text-n-950 ${animateClass} delay-300 flex flex-col gap-3 leading-tight md:gap-3.5`}>
    <!-- Title -->
    <p class="text-2xl font-medium md:text-4xl">{title}</p>

    <!-- Subtitle -->
    <p class="text-sm font-normal md:text-xl lg:text-2xl">{subtitle}</p>
  </div>

  <!-- Tabs -->
  <div class={`${animateClass} delay-300 flex flex-wrap gap-3`}>
    {chipItems.map((chipItem) => <Badge text={chipItem} />)}
  </div>
</div>
