---
// COMPONENTS
import { Image } from "astro:assets";
import RoundedButton from "@/components/RoundedButton.astro";
import Badge from "./portfolio/Badge.astro";

interface Props {
  thumbnail: ImageMetadata;
  chipItems: string[];
  title: string;
  subtitle: string;
  ctaText: string;
}

const { thumbnail, chipItems, title, subtitle, ctaText } = Astro.props;
---

<!-- Article Card -->
<div class="flex w-[327px] flex-col gap-4 md:w-[720px] md:gap-5 lg:w-[643px] lg:gap-6">
  <!-- Thumbnail -->
  <div class="relative">
    <Image
      src={thumbnail}
      alt=`Thumbnail image for ${thumbnail}`
      class="h-[222px] w-[327px] rounded-3xl md:h-[349px] md:w-[720px] lg:w-[643px]"
    />
    <div
      class="absolute right-[15px] bottom-[16.46px] md:right-[22px] md:bottom-[28px] lg:right-[19px] lg:bottom-[47px]"
    >
      <RoundedButton buttonText="View Case Study" />
    </div>
  </div>
  <!-- Tabs -->
  <div class="flex flex-wrap gap-3">
    {chipItems.map((chipItem) => <Badge text={chipItem} />)}
  </div>
  <!-- Article Details -->
  <div class="text-n-950 flex flex-col gap-3 leading-tight md:gap-3.5">
    <!-- Title -->
    <p class="text-2xl font-medium md:text-4xl">{title}</p>
    <!-- Subtitle -->
    <p class="text-sm font-normal md:text-xl lg:text-2xl">{subtitle}</p>
  </div>
</div>
