---
// COMPONENTS //
import { Icon } from "astro-icon/components";
import Tooltip from "@/components/Tooltip.astro";

// PROPS //
interface Props {
  icon: string;
  title: string;
  value: string;
  link?: string;
  type?: string;
}

const { icon = "", title = "", value = "", link = "#", type = "location" } = Astro.props as Props;
---

<!-- MARKUP -->
<a
  href={link}
  target={type === "location" ? "_blank" : undefined}
  rel={type === "location" ? "noopener noreferrer" : undefined}
  class="bg-n-100 hover:bg-n-200 flex w-full cursor-pointer items-end justify-between gap-5 rounded-4xl px-6 py-5 transition-colors duration-300 md:w-[440px] xl:h-[114px]"
>
  <div class="flex max-w-[80%] items-center gap-2">
    <div
      class="md :w-[64px] flex h-14 w-14 items-center justify-center rounded-full bg-linear-to-r from-[#6C6AF2] to-[#8B77F3] shadow-sm xl:h-[74px] xl:w-[74px]"
    >
      <Icon name={icon} class="text-n-950 size-6" />
    </div>

    <div class="flex w-[60%] flex-col">
      <p class="text-n-700 text-xs font-extrabold md:text-sm xl:text-base xl:font-semibold">
        {title}
      </p>
      <p
        class="text-n-950 max-w-[180px] truncate text-sm font-semibold md:text-lg xl:text-xl xl:font-bold"
      >
        {value}
      </p>
    </div>
  </div>

  {
    type === "phone" || type === "mail" ? (
      <Tooltip text="Copy" position="top">
        <span
          class="copy-btn bg-n-950/2 hover:bg-n-950/4 flex h-8 w-8 items-center justify-center rounded-full p-0.5 transition-colors duration-300"
          data-copy={value}
        >
          <Icon name="copy" class="icon-copy text-n-950 size-5 hover:text-blue-500" />
          <Icon name="check" class="icon-check hidden size-5 text-blue-500" />
        </span>
      </Tooltip>
    ) : (
      <Icon
        name="right-arrow"
        class="text-n-950 size-5 transition-colors duration-300 hover:text-blue-500"
      />
    )
  }
</a>
