---
// COMPONENTS //
import { Icon } from "astro-icon/components";
import Tooltip from "@/components/ui/Tooltip.astro";

// PROPS //
interface Props {
  icon: string;
  title: string;
  value: string;
  link?: string;
  type?: string;
}

const { icon, title, value, link, type = "location" } = Astro.props as Props;

const isCopyable = type === "phone" || type === "mail";
const isExternal = type === "location";
---

<!-- Contact Card component -->
<a
  href={link}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class="bg-n-100 hover:bg-n-200 flex w-full cursor-pointer items-end justify-between gap-4 rounded-4xl px-5 py-4 transition-colors duration-300 md:gap-5 lg:px-6 lg:py-5"
>
  <!-- Left side: Icon + text -->
  <div class="flex max-w-[80%] items-center gap-3.5 md:gap-4 lg:gap-5">
    <div
      class="flex size-14 shrink-0 items-center justify-center rounded-full bg-linear-to-r from-[#6C6AF2] to-[#8B77F3] shadow-sm md:size-[64px] lg:size-[74px]"
    >
      <!-- Icon -->
      <Icon name={icon} class="size-5 text-white" />
    </div>

    <div class="flex w-[60%] flex-1 flex-col sm:w-[90%] md:w-[80%]">
      <!-- Title -->
      <p class="text-n-700 text-xs font-bold md:text-sm lg:text-base">
        {title}
      </p>

      <!-- Value -->
      <p class="text-n-950 max-w-[180px] truncate text-sm font-semibold md:text-lg lg:text-xl">
        {value}
      </p>
    </div>
  </div>

  <!-- Right side: Action Icons -->
  {
    isCopyable ? (
      <Tooltip text="Copy" position="top">
        <span
          class="copy-btn flex size-5 cursor-pointer items-center justify-center transition-colors duration-300"
          data-copy={value}
        >
          {/* Copy Icon */}
          <Icon
            name="copy"
            class="icon-copy text-n-950 size-5 transition-colors duration-300 hover:text-blue-500"
          />

          {/* Success Icon (shown after copy) */}
          <Icon
            name="check"
            class="icon-check hidden size-5 transition-colors duration-300 hover:text-blue-500"
          />
        </span>
      </Tooltip>
    ) : (
      <Icon
        name="right-arrow"
        class="text-n-950 size-5 transition-colors duration-300 hover:text-blue-500"
      />
    )
  }
</a>
