---
// COMPONENTS //
import { Icon } from "astro-icon/components";

export interface Props {
  options: string[];
  label: string;
  name: string;
  id: string;
  iconName: string;
}
const { options = [], label = "", name = "", id = "", iconName } = Astro.props;
---

<!-- Container for label and dropdown -->
<div
  class="border-n-300 flex items-center gap-3 border-b pb-2.5 text-sm font-medium md:text-base lg:text-lg"
>
  <!-- Displays the label passed as prop -->
  <label for={id}>{label}</label>

  <!-- Dropdown menu -->
  <div
    class="bg-n-950/10 flex cursor-pointer gap-3 rounded-[40px] p-3 text-xs font-normal"
  >
    <select
      name={name}
      id={id}
      class="appearance-none outline-none focus:border-none"
    >
      <!-- Adds each option passed as prop in dropdown -->
      {
        options.map((opt: string) => (
          <option value={opt} class="bg-n-900 text-n-100">
            {opt}
          </option>
        ))
      }
    </select>
    <!-- Custom icon for dropdown -->
    <Icon name={iconName} class="size-3.5 self-center" />
  </div>
</div>
