---
const { options = [], label = "", name = "", id = "" } = Astro.props;
---

<!-- Container for label and dropdown -->
<div class="flex gap-3 items-center border-b border-n-300 pb-2 w-full">
  <!-- Displays the label passed as prop -->
  <label for={id}>{label}</label>

  <!-- Dropdown menu -->
  <select name={name} id={id} class="p-3 rounded-[40px] bg-n-950/10">
    <!-- Adds each option passed as prop in dropdown -->
    {options.map((opt: string) => <option value={opt}>{opt}</option>)}
  </select>
</div>
