---
// COMPONENTS //
import { Icon } from "astro-icon/components";

export interface Props {
  options: string[];
  label: string;
  name: string;
  id: string;
  iconName: string;
}
const { options = [], label = "", name = "", id = "", iconName } = Astro.props;
---

<!-- Container for label and dropdown -->
<div
  class="flex gap-3 items-center border-b border-n-300 pb-2 text-sm font-medium md:text-base lg:text-lg"
>
  <!-- Displays the label passed as prop -->
  <label for={id}>{label}</label>

  <!-- Dropdown menu -->
  <div class="flex p-3 rounded-[40px] bg-n-950/10 text-xs font-normal gap-3">
    <select
      name={name}
      id={id}
      class="appearance-none focus:border-none outline-none"
    >
      <!-- Adds each option passed as prop in dropdown -->
      {
        options.map((opt: string) => (
          <option value={opt} class="bg-n-900 text-n-100">
            {opt}
          </option>
        ))
      }
    </select>
    <!-- Custom icon for dropdown -->
    <Icon name={iconName} class="self-center size-3.5" />
  </div>
</div>
