---
const {
  label = "",
  placeholder = "",
  name = "",
  id = "",
  type = "",
  required,
  showPlaceholder = true,
} = Astro.props;
---

<!-- Container for label and Input -->
<div class="flex gap-3 items-center border-b border-n-300 pb-2 w-full">
 
  <label for={id}>{label}</label>

  <input
    type={type}
    id={id}
    placeholder={showPlaceholder ? placeholder : undefined}
    name={name}
    required={required}
    class="focus:border-none outline-none"
  />
</div>
