---
// COMPONENTS //
import { Icon } from "astro-icon/components";

// Define props interface with all field properties
export interface Props {
  label: string;
  name: string;
  id: string;
  placeholder?: string;
  type?: astroHTML.JSX.HTMLInputTypeAttribute;
  required?: boolean;
  showPlaceholder?: boolean;
  errorMessages?: string[];
  isError?: boolean;
  isDisabled?: boolean;
}

// Destructure props with default values
const {
  label = "",
  placeholder = "",
  name = "",
  id = "",
  type = "text",
  required = false,
  showPlaceholder = true,
  errorMessages = [],
  isError = false,
  isDisabled = false,
} = Astro.props;
---

<!-- Container for input field and error message -->
<div class="flex w-full flex-col gap-3">
  <!-- Container for label and Input with bottom border -->
  <div
    class="border-n-300 focus-within:border-n-900 flex items-center gap-3 border-b pb-3 md:gap-4 md:pb-4"
  >
    <!-- Label for the input field -->
    <label for={id} class="text-sm font-medium md:text-base lg:text-lg"
      >{label}</label
    >

    <!-- Input field with dynamic attributes from props -->
    <input
      disabled={isDisabled}
      type={type}
      id={id}
      placeholder={showPlaceholder ? placeholder : undefined}
      name={name}
      required={required}
      class="placeholder-n-600 flex-1 text-sm outline-none focus:border-none lg:text-base"
    />
  </div>

  <!-- Error messages display section -->
  {
    isError && (
      <div class="flex flex-col gap-2.5 md:gap-3">
        {errorMessages.map((msg) => (
          <div class="flex items-center gap-1.5 md:gap-2">
            {/* Error icon */}
            <Icon name="error-icon" class="size-4" />

            {/* Error message text */}
            <p class="text-xs leading-[17px] font-normal text-red-600 md:text-sm lg:text-base">
              {msg}
            </p>
          </div>
        ))}
      </div>
    )
  }
</div>
