---
export interface Props {
  label: string;
  name: string;
  id: string;
  placeholder?: string;
  type?: astroHTML.JSX.HTMLInputTypeAttribute;
  required?: boolean;
  showPlaceholder?: boolean;
}
const {
  label = "",
  placeholder = "",
  name = "",
  id = "",
  type,
  required,
  showPlaceholder = true,
} = Astro.props;
---

<!-- Container for label and Input -->
<div class="flex gap-3 items-center border-b border-n-300 pb-2 w-full">
  <!-- Label for the input field -->
  <label for={id}>{label}</label>

  <!-- Input field that sets type, id , placeholder, name and required attributes from props -->
  <input
    type={type}
    id={id}
    placeholder={showPlaceholder ? placeholder : undefined}
    name={name}
    required={required}
    class="focus:border-none outline-none"
  />
</div>
