---
// COMPONENTS //
import { Icon } from "astro-icon/components";

export interface Props {
  label: string;
  name: string;
  id: string;
  placeholder?: string;
  type?: astroHTML.JSX.HTMLInputTypeAttribute;
  required?: boolean;
  showPlaceholder?: boolean;
  errorMessages?: string[];
  isError?: boolean;
}
const {
  label = "",
  placeholder = "",
  name = "",
  id = "",
  type = "text",
  required = false,
  showPlaceholder = true,
  errorMessages = [],
  isError = false,
} = Astro.props;
---

<!-- Container for input field and error message -->
<div class="flex flex-col gap-3 w-full">
  <!-- Container for label and Input -->
  <div
    class="flex gap-3 items-center border-b border-n-300 pb-3 focus-within:border-n-900 md:gap-4 md:pb-4"
  >
    <!-- Label for the input field -->
    <label for={id} class="text-sm md:text-base lg:text-lg font-medium"
      >{label}</label
    >

    <!-- Input field that sets type, id , placeholder, name and required attributes from props -->
    <input
      type={type}
      id={id}
      placeholder={showPlaceholder ? placeholder : undefined}
      name={name}
      required={required}
      class="focus:border-none outline-none placeholder-n-600"
    />
  </div>

  <!-- Check if isError is true show the error message -->
  {
    isError && (
      <div class="flex flex-col gap-2.5 md:gap-3">
        {errorMessages.map((msg) => (
          <div class="flex gap-1.5 md:gap-2">
            {/* Error icon */}
            <Icon name="error-icon" />

            {/* Error message */}
            <p class="font-normal text-xs md:text-sm text-red-600">{msg}</p>
          </div>
        ))}
      </div>
    )
  }
</div>
