---
// COMPONENTS //
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";

interface Props {
  companyLogo: string;
  imageName: string;
  Name: string;
  descriptionStart: string;
  descriptionBold: string;
  descriptionEnd: string;
  href: string;
}

const {
  companyLogo = "zizo.png",
  imageName = "product-image.png",
  Name = "product-name",
  descriptionStart = "A smart football team management app that",
  descriptionBold = "helps coaches, players, and clubs",
  descriptionEnd = "organize matches, track stats, and manage their teams seamlessly.",
  href = "/",
} = Astro.props as Props;
---

<!-- Product Item -->
<div
  class="flex flex-col lg:flex-row lg:justify-between border-b-[0.4px] md:border-b-[0.6px] lg:border-b-[0.8px] border-n-950 py-7 gap-3 md:gap-3.5 w-full lg:gap-12"
>
  <!-- Logo Container -->
  <div class="gap-2.5 flex lg:w-1/2">
    <Image
      src={`/images/products/${companyLogo}`}
      alt={`${companyLogo} logo`}
      width={180}
      height={63}
      class="md:w-[250px] md:h-[87px]"
    />
  </div>

  <!-- Product Image -->
  <Image
    src={`/images/products/${imageName}`}
    alt={`${Name}`}
    width={327}
    height={140}
    class="rounded-[25px] w-full h-[140px] md:h-[209px] lg:hidden object-cover"
  />

  <!-- Content -->
  <div
    class="flex justify-center items-center gap-6 md:gap-16 w-full lg:gap-16 lg:w-1/2"
  >
    <!-- Description -->
    <p class="font-normal text-xs md:text-base leading-normal text-n-700">
      {descriptionStart}
      <span class="font-bold text-xs md:text-base text-n-700">
        {descriptionBold}
      </span>
      {descriptionEnd}
    </p>

    <!-- Link for more information -->
    <a
      href={href}
      class="hover:bg-gradient-to-r from-[#4254D4] to-[#8B77F3] rounded-full size-12 md:size-20 flex justify-center items-center self-center shrink-0 border border-n-950 hover:border-none"
      aria-label="View more information"
    >
      <Icon name="external-link-icon" class="size-[18px] md:size-[30px]" />
    </a>
  </div>
</div>
