---
// COMPONENTS //
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";

interface Props {
  companyLogo: string;
  productImage: string;
  productName: string;
  productdescriptionStart: string;
  productdescriptionBold: string;
  productdescriptionEnd: string;
  href: string;
}

const {
  companyLogo = "zizo.png",
  productImage = "product-image.png",
  productName = "product-name",
  productdescriptionStart = "A smart football team management app that",
  productdescriptionBold = "helps coaches, players, and clubs",
  productdescriptionEnd = "organize matches, track stats, and manage their teams seamlessly.",
  href = "/",
} = Astro.props as Props;
---

<!-- Product Item -->
<div
  class="flex flex-col lg:flex-row lg:justify-between border-b-[0.4px] md:border-b-[0.6px] lg:border-b-[0.8px] border-n-950 py-7 gap-3 md:gap-3.5 w-full lg:gap-20"
>
  <!-- Logo Container -->
  <div class="gap-2.5 flex shrink-0">
    <Image
      src={`/images/products/${companyLogo}`}
      alt={`${companyLogo} logo`}
      width={180}
      height={63}
      class="md:w-[250px] md:h-[87px]"
    />
  </div>

  <!-- Product Image -->
  <Image
    src={`/images/products/${productImage}`}
    alt={`${productName}`}
    width={327}
    height={140}
    class="rounded-[25px] w-full lg:hidden object-contain"
  />

  <!-- Content -->
  <div class="flex gap-6 md:gap-16 w-full lg:gap-16">
    <!-- Description -->
    <p class="font-normal text-xs md:text-base leading-normal text-n-700">
      {productdescriptionStart}
      <span class="font-bold text-xs md:text-base text-n-700">
        {productdescriptionBold}
      </span>
      {productdescriptionEnd}
    </p>

    <!-- Link for more information -->
    <a
      href={href}
      class="hover:bg-linear-to-r from-[#4254D4] to-[#8B77F3] rounded-full size-12 md:size-20 flex justify-center items-center self-center shrink-0 border border-bg-n-950 hover:border-none"
      aria-label="View more information"
    >
      <Icon name="external-link-icon" class="size-[18px] md:size-[30px]" />
    </a>
  </div>
</div>
