---
// COMPONENTS //
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface props {
  image: string;
  imageAlt: string;
  name: string;
  position: string;
  salary: string;
  experience: string;
}

const {
  image = "employee-image.jpg",
  imageAlt = "Employee Image",
  name = "Deven Bhagtani",
  position = "UX Designer",
  salary = "Rs.10,000",
  experience = "4 Years",
} = Astro.props as props;
---

<div
  class="flex flex-col gap-2 rounded-3xl bg-gradient-to-r from-(--blue-500) to-[#8B77F3] pb-2 md:gap-3 md:pb-3"
>
  <!-- Employee Details -->
  <div class="bg-n-100 flex flex-col gap-4 rounded-3xl p-5 md:flex-row">
    <!-- Employee Image -->
    <Image
      src={`/images/retainership/${image}`}
      alt={imageAlt}
      width={287}
      height={193}
      class="w-full rounded-2xl md:h-[193px] md:w-[200px]"
    />
    <!-- Employee Content -->
    <div class="flex flex-col gap-8 md:gap-24">
      <!-- Name + Position -->
      <div class="flex flex-col gap-1">
        <!-- Employee Name -->
        <p class="text-n-950 text-xl leading-tight font-bold md:text-2xl">
          {name}
        </p>
        <!-- Employee Position -->
        <p class="text-n-700 text-sm leading-tight font-medium md:text-base">
          {position}
        </p>
      </div>

      <!-- Price Wrapper -->
      <div class="flex items-center justify-between">
        <!-- Price details -->
        <div class="flex flex-col">
          <p class="text-n-700 text-sm leading-tight font-medium md:text-base">Starting from</p>
          <p class="text-n-700 text-base leading-tight font-medium md:text-lg">
            {salary}
          </p>
        </div>
        <!-- CTA Icon -->
        <a href="/" aria-label={`View details for ${name}`}>
          <Icon name="arrow-icon" />
        </a>
      </div>
    </div>
  </div>
  <!-- Experience Details -->
  <div class="text-center text-sm leading-tight md:text-base">
    <span class="font-normal">Experience:</span>
    <span class="font-medium">{experience}</span>
  </div>
</div>
