---
import "../styles/global.css"
const { buttonText, leftIcon, rightIcon } = Astro.props
---


    <!-- Rounded Button -->
     <button class="flex gap-2 px-5 py-3 rounded-[33px] text-neutral-50 bg-neutral-950 dark:text-neutral-950 dark:bg-neutral-50">
        <!--Left icon of Rounded Button  -->
        {leftIcon && <img src={`/icons/${rightIcon}.svg`} alt={`${leftIcon} `} />}

        <!-- Rounded Button Text -->
        <p>
            {buttonText}
        </p>
        
        <!-- Right Icon Of Rounded Button -->
        {rightIcon && <img src={`/icons/${rightIcon}.svg`} alt={`${rightIcon} `} />}
     </button>

