---
// STYLES //
import "@/styles/global.css";

// COMPONENTS //
import { Icon } from "astro-icon/components";

// Define props
interface Props {
  buttonText?: string;
  leftIcon?: string;
  rightIcon?: string;
  onClick?: string;
  type?: "button" | "submit" | "reset";
  variant?: "primary" | "secondary";
}

// Default values
const {
  buttonText = "",
  leftIcon = "",
  rightIcon = "",
  onClick = "",
  type = "submit",
  variant = "primary",
} = Astro.props;

// Variant classes
const variants = {
  primary: "bg-n-950 text-n-100",
  secondary: "bg-n-200 text-n-700",
};
---

<!-- Rounded Button -->
<button
  type={type}
  onclick={onClick}
  class={`flex gap-1.5 cursor-pointer rounded-4xl px-5 py-3 md:px-6 md:py-3.5 lg:gap-2 lg:py-4 lg:px-7 
          ${variants[variant]}`}
>
  <!-- Left icon of Rounded Button -->
  {leftIcon !== "" && <Icon name={leftIcon} class="size-4" />}

  <!-- Rounded Button Text -->
  <p class="text-sm font-medium">
    {buttonText}
  </p>

  <!-- Right Icon Of Rounded Button -->
  {rightIcon !== "" && <Icon name={rightIcon} class="size-4" />}
</button>
