---
// STYLES //
import "../styles/global.css";

const { buttonText, leftIcon, rightIcon, textClass } = Astro.props;
---

<!-- Rounded Button -->
<button
  class="text-n-100 bg-n-950 flex gap-1.5 rounded-4xl px-5 py-3 font-medium md:px-6 md:py-3.5 lg:gap-2 lg:px-7 lg:py-4"
>
  <!--Left icon of Rounded Button  -->
  {leftIcon && <img src={`/icons/${rightIcon}.svg`} alt={`${leftIcon}`} class="size-4 lg:size-6" />}

  <!-- Rounded Button Text -->
  <p class={textClass}>
    {buttonText}
  </p>

  <!-- Right Icon Of Rounded Button -->
  {
    rightIcon && (
      <img src={`/icons/${rightIcon}.svg`} alt={`${rightIcon} `} class="size-4 lg:size-6" />
    )
  }
</button>
