---
// STYLES //
import "../styles/global.css";

const { buttonText, leftIcon, rightIcon } = Astro.props
---


    <!-- Rounded Button -->
     <button class="flex gap-2 px-5 py-3 rounded-4xl text-n-100 bg-n-950">
        <!--Left icon of Rounded Button  -->
        {leftIcon && <img src={`/icons/${rightIcon}.svg`} alt={`${leftIcon} `} />}

        <!-- Rounded Button Text -->
        <p>
            {buttonText}
        </p>
        
        <!-- Right Icon Of Rounded Button -->
        {rightIcon && <img src={`/icons/${rightIcon}.svg`} alt={`${rightIcon} `} />}
     </button>

