---
// COMPONENTS //
import SolutionsCard from "@/components/service-consumption/SolutionsCard.astro";
import ToolBadge from "@/components/ui/ToolBadge.astro";
import { howWeWorkDetails } from "@/data/service-consumption/HowWeWork.ts";
---

<section id="how-we-work-section">
  <!-- Container -->
  <div
    class="container mx-auto flex flex-col gap-7 px-6 py-16 md:gap-10 md:py-24 lg:gap-14 lg:py-28"
  >
    <!-- Header -->
    <div class="flex w-full flex-col gap-4 md:gap-5">
      <div class="self-center">
        <ToolBadge icon="service-icon" text={howWeWorkDetails.badgeText} />
      </div>
      <p
        class="header-text text-n-950 self-center text-center text-3xl leading-tight font-normal tracking-[-0.02em] opacity-0 md:text-4xl"
      >
        {howWeWorkDetails.headerText}
      </p>
    </div>
    <!-- Process Wrap -->
    <div class="flex w-full flex-col gap-4 md:gap-5 lg:grid lg:grid-cols-3 lg:gap-8">
      <!-- Solution Cards -->
      {
        howWeWorkDetails.solutionCards.map((solutionCard) => (
          <SolutionsCard
            number={solutionCard.number}
            title={solutionCard.title}
            description={solutionCard.description}
          />
        ))
      }
    </div>
  </div>
</section>
<script>
  import { animateSolutionCards, animateHeader } from "@/scripts/how-we-work.ts";
  animateHeader();
  animateSolutionCards();
</script>
