---
// COMPONENTS //
import SectionHeader from "@/components/ui/SectionHeader.astro";
import { Image } from "astro:assets";

// DATA //
interface props {
  image: string;
  name: string;
  role: string;
  message: string;
}
const { image = "", name, role, message = "Heelo" } = Astro.props as props;
---

{
  message !== "" && (
    // Client Testimonial Section
    <section id="client-testimonial">
      <div class="container mx-auto flex w-full flex-col gap-7 px-6 py-16 md:gap-14 md:py-24 lg:gap-20 lg:py-28">
        {/* Section Header Component */}
        <SectionHeader
          badgeIcon={"package"}
          badgeText={"What Our Clients Are Saying"}
          sectionTitle={"What Our Clients Had To Say"}
        />

        {/* Content */}
        <div class="flex w-full flex-col items-center justify-center gap-6 md:gap-12 md:px-10 lg:flex-row lg:gap-12 xl:px-16">
          {image !== "" && (
            // Client Image
            <div class="client-image h-[350px] w-full overflow-hidden rounded-3xl md:h-[734px] md:rounded-4xl lg:h-full lg:w-1/2 lg:rounded-[60px] xl:h-[562px] xl:w-[45%] 2xl:w-[40%]">
              <Image
                class="h-full w-full object-cover"
                width={700}
                height={700}
                src={image}
                alt={name}
                loading="lazy"
              />
            </div>
          )}

          {/* Client Information */}
          <div class="flex flex-col gap-5 md:gap-8 lg:w-[60%] lg:justify-center lg:gap-14 xl:gap-20">
            {/* Name */}
            <div class="client-info flex flex-col gap-0.5 leading-tight md:gap-2">
              <p class="text-n-950 text-3xl font-semibold md:text-5xl">{name}</p>

              {/* Role */}
              <p class="text-n-700 text-xs md:text-xl">{role}</p>
            </div>

            {/* Message */}
            <p class="client-message text-n-800 after:bg-n-500 relative text-sm leading-normal tracking-wide after:mx-auto after:mt-9 after:block after:h-[0.7px] after:w-50 md:text-xl md:after:mt-14 md:after:w-[350px] lg:text-2xl lg:after:mt-20">
              "{message}"
            </p>
          </div>
        </div>
      </div>
    </section>
  )
}
<style>
  .client-image {
    transform: translateX(-100px);
    opacity: 0;
  }

  .client-info,
  .client-message {
    transform: translateX(100px);
    opacity: 0;
  }
</style>
<script>
  import { animateClientTestimonial } from "@/scripts/case-studies";

  animateClientTestimonial();
</script>
