---
// TYPES //
import type { BlogBlock } from "@/types/blogs";

// COMPONENTS //
import MediaCardBlock from "@/components/blogs-consumption/MediaCardBlock.astro";
import HeadingBlock from "@/components/blogs-consumption/HeadingBlock.astro";
import ParagraphBlock from "@/components/blogs-consumption/ParagraphBlock.astro";
import ListBlock from "@/components/blogs-consumption/ListBlock.astro";
import ComparisonBlock from "@/components/blogs-consumption/ComparisonBlock.astro";

const { data } = Astro.props;
---

<section class="blog-body">
  <div class="container mx-auto px-6">
    {
      data?.content.map((block: BlogBlock) => {
        if (block.type === "media") return <MediaCardBlock block={block} />;
        if (block.type === "heading") return <HeadingBlock block={block} />;
        if (block.type === "paragraph") return <ParagraphBlock block={block} />;
        if (block.type === "list") return <ListBlock block={block} />;
        if (block.type === "comparison") return <ComparisonBlock block={block} />;
        return null;
      })
    }
  </div>
</section>
