---
// STYLES //
import "@/styles/global.css";

// COMPONENTS //
import WhatsappButton from "@/components/ui/WhatsappButton.astro";
import Loading from "@/components/layout/Loading.astro";
import Meta from "@/components/layout/Meta.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import ContactForm from "@/components/forms/ContactForm.astro";
import BottomCTA from "@/components/ui/BottomCTA.astro";

// DATA //
import { siteInfo } from "@/data/site-info";
import JsonLd from "@/components/layout/JsonLd.astro";

// OTHERS //
import { pixoloWebsiteSchema } from "@/schemas/website.schema";

interface Props {
  meta: any;
}

const { meta = {} } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <Meta
      title={meta.title}
      description={meta.description}
      image={meta.image}
      noIndex={meta.noIndex}
      keywords={meta.keywords}
    />

    <!-- JSON-LD -->
    <slot name="head" />

    <!-- Global WebSite JSON-LD (ALL pages) -->
    <JsonLd slot="head" data={pixoloWebsiteSchema} />
  </head>

  <body>
    <!-- Loading -->
    <Loading />

    <!-- Top menu -->
    <div class="fixed top-0 left-0 z-50 w-full">
      <Header />
    </div>

    <!-- Background Star Video -->
    <video
      class="fixed top-0 left-0 -z-1 hidden h-full w-full bg-transparent object-cover dark:block"
      src="/videos/stars.mp4"
      autoplay
      muted
      loop
      playsinline></video>

    <div class="bg-n-50 fixed -z-5 h-full w-full"></div>

    <!-- Background Circle Gradient -->
    <div
      class="fixed top-[30%] left-1/2 hidden h-[885px] w-[885px] -translate-x-1/2 rounded-full dark:block"
      style="background: linear-gradient(90deg, rgba(22, 125, 229, 0.36) 0%, rgba(95, 74, 200, 0.36) 92.31%); filter: blur(200px);"
    >
    </div>

    <!-- Page content -->
    <main class="relative z-10">
      <slot />
    </main>

    <Footer />

    <!-- Whatsapp button component -->
    <WhatsappButton
      href={`https://wa.me/${siteInfo.contact.phone[0].value}`}
      extraClasses="fixed bottom-5 right-5 md:bottom-10 md:right-20 z-10 hidden md:flex"
    />

    <!-- Bottom CTA -->
    <div class="fixed bottom-5 z-40 justify-self-center md:bottom-12">
      <BottomCTA />
    </div>

    <ContactForm />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9E7P2PLT8"></script>

    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      window.gtag = gtag;
      gtag("js", new Date());
      gtag("config", "G-T9E7P2PLT8");
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
<script>
  import { trackContactCTAClick, trackContactFormView } from "@/scripts/analytics";
  import {
    trackPageView,
    setupScrollTracking,
    setupClickTracking,
    trackWhatsappClick,
  } from "@/scripts/analytics";

  setupClickTracking("sticky-whatsapp", () => trackWhatsappClick("floating"));
  setupClickTracking("open-contact-modal", () => trackContactCTAClick("floating"));
  setupClickTracking("open-contact-modal", () => trackContactFormView());

  // Initial page load
  trackPageView();
  setupScrollTracking();
</script>

<script is:inline>
  const loader = document.querySelector("#loading-screen");
  const hasSeenLoader = sessionStorage.getItem("loaderShown");

  if (hasSeenLoader) {
    loader.style.display = "none";
  } else {
    loader.style.display = "flex";
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Select all elements that should animate when visible
    const animatedElements = document.querySelectorAll(
      ".anim-fade-up-quick, .anim-fade-up-slow, .anim-fade-in-up, .anim-fade-in-right",
    );
    // Create a new Intersection Observer to detect when elements appear in the viewport
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          // Check if the element is currently visible in the viewport
          if (entry.isIntersecting) {
            // Add the visible class to trigger CSS animation
            entry.target.classList.add("anim-visible");

            // Stop observing the element after animation triggers once
            observer.unobserve(entry.target);
          }
        });
      },

      // Trigger the animation when 20% of the element is visible
      { threshold: 0.18 },
    );

    // Observe each selected element
    animatedElements.forEach((el) => observer.observe(el));
  });
</script>
