---
// COMPONENTS //
import { Icon } from "astro-icon/components";

// Define props
interface Props {
  buttonText?: string;
  leftIcon?: string;
  rightIcon?: string;
  id?: string;
  onClick?: string;
  type?: "button" | "submit" | "reset";
  variant?: "primary" | "secondary" | "tertiary" | "default";
}

// Default values
const {
  buttonText = "",
  leftIcon = "",
  rightIcon = "",
  onClick = "",
  type = "submit",
  variant = "primary",
  id,
} = Astro.props;

// Variant classes
const variants = {
  primary:
    "bg-n-950 text-n-100 hover:bg-n-200 hover:text-n-900 transition duration-300 ease-in-out",
  secondary: "bg-n-200 text-n-950 transition duration-300 ease-in-out",
  tertiary: "border border-n-950 text-n-950",
  default: "bg-blue-500 text-n-950 hover:bg-blue-600  transition duration-300 ease-in-out",
};
---

<button
  id={id}
  type={type}
  onclick={onClick}
  class={`btn-webflow group relative flex items-center gap-1.5 cursor-pointer overflow-hidden rounded-4xl px-5 py-3 md:px-6 md:py-3.5 lg:px-7 lg:py-4 ${variants[variant]}`}
>
  <!-- Icon + text -->
  <div class="relative z-10 flex items-center gap-2">
    <!-- Left icon of Rounded Button -->
    {leftIcon !== "" && <Icon name={leftIcon} class="size-4 lg:size-8" />}

    <!-- Flip Text -->
    <div class="text-flip-wrap text-sm font-medium lg:text-base">
      <div class="flip-text">{buttonText}</div>
      <div class="flip-text">{buttonText}</div>
    </div>

    {rightIcon !== "" && <Icon name={rightIcon} class="size-4 lg:size-8" />}
  </div>

  <!-- Inside Glow -->
  <div class="inside-glow"></div>
</button>
<style>
  /* Button css animation */
  .btn-webflow {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    transform-style: preserve-3d;
    transition:
      transform 0.35s ease,
      border-color 0.35s ease,
      background-color 0.35s ease,
      color 0.35s ease;
  }

  .btn-webflow:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1);
    border-color: rgb(60, 42, 92);
  }

  /* Button flip text animation */
  .text-flip-wrap {
    position: relative;
    overflow: hidden;
  }

  .flip-text {
    filter: brightness(200%);
    transform-style: preserve-3d;
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* First text */
  .text-flip-wrap .flip-text:first-child {
    transform: translateY(0%);
  }

  /* Second text */
  .text-flip-wrap .flip-text:last-child {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(120%);
  }

  /* Hover flip */
  .btn-webflow:hover .text-flip-wrap .flip-text:first-child {
    transform: translateY(-120%);
  }

  .btn-webflow:hover .text-flip-wrap .flip-text:last-child {
    transform: translateY(0%);
  }

  /* Inside button glow */
  .inside-glow {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    background-color: var(--color-blue-300);
    filter: saturate(200%) blur(26px);
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }

  /* Show glow on hover */
  .btn-webflow:hover .inside-glow {
    opacity: 1;
  }
</style>
