---
// COMPONENTS //
import Chip from "@/components/ui/Chip.astro";
import Dropdown from "@/components/ui/Dropdown.astro";
import InputField from "@/components/ui/InputField.astro";
import RoundedButton from "@/components/ui/RoundedButton.astro";
import Textarea from "@/components/ui/Textarea.astro";

// DATA //
import { contactSubjectOptions } from "@/data/contact";
import Icon from "node_modules/astro-icon/components/Icon.astro";
---

<!-- Backdrop with Contact form modal -->
<div
  class="invisible fixed inset-0 z-50 flex h-screen w-full items-center justify-center gap-10 bg-black/50 px-6 py-24 opacity-0 transition-opacity duration-300"
  id="backdrop-modal"
  role="dialog"
  aria-modal="true"
  aria-labelledby="contact-form-title"
>
  <!-- Contact Form wrapper -->
  <div
    class="bg-n-50 border-n-400 z-20 flex w-full flex-col overflow-hidden rounded-3xl border md:w-[680px] lg:w-[800px]"
  >
    <!-- Title Bar -->
    <div class="bg-n-400 flex w-full gap-1.5 px-6 py-3 md:gap-2 md:px-7 lg:px-11 lg:py-4">
      <!-- 3 Buttons (macOS style window controls) -->
      <div
        id="close-btn"
        class="size-3 cursor-pointer rounded-full bg-[#C45E52] md:size-4"
        role="button"
        tabindex="0"
        aria-label="Close contact form"
      >
      </div>
      <div class="size-3 rounded-full bg-[#CAA144] md:size-4"></div>
      <div class="bg-n-500 size-3 rounded-full md:size-4"></div>
    </div>

    <!-- Form Container -->
    <form
      action="#"
      method="POST"
      class="flex flex-col items-start gap-5 p-5 md:px-7 md:py-7"
      id="contact-form"
    >
      <!-- Input Wrapper -->
      <div class="flex w-full flex-col gap-5 md:gap-6">
        <!-- Email To  -->
        <div class="relative flex w-full gap-4 md:gap-3 lg:gap-4">
          <InputField
            label="To"
            name="emailTo"
            id="emailTo"
            type="text"
            isDisabled={true}
            showPlaceholder={false}
          />

          <!-- For tablets and desktops -->
          <div class="absolute bottom-1.5 left-9 md:bottom-3 md:flex md:items-center md:gap-4">
            <!-- Chip component -->
            <Chip iconName="pixolo-logo" text="Pixolo Technologies" />

            <!-- Email address display -->
            <p class="hidden font-normal md:flex md:text-sm">(business@pixolotechnologies.com)</p>
          </div>
        </div>

        <!-- Email From -->
        <InputField
          label="From"
          type="email"
          name="emailFrom"
          placeholder="you@email.com"
          id="emailFrom"
          required={true}
          isError={false}
          errorMessages={["This doesn’t look like an email address.", "This field is required."]}
        />

        <!-- Phone Number -->
        <InputField
          label="Phone No"
          type="tel"
          name="phoneNo"
          placeholder="your phone number"
          id="phoneNo"
          required={true}
          isError={false}
          errorMessages={["This field is required.", "This doesn’t look like a phone number."]}
        />

        <!-- Subjects Dropdown  -->
        <Dropdown label="Subject" name="subject" id="subject" options={contactSubjectOptions} />

        <!-- Additional Note -->
        <Textarea
          iconName="expand-icon"
          placeholder="Say something about your project..."
          name="additionalNote"
          id="additionalNote"
        />
      </div>
      <!-- SendMessage Button -->
      <div class="self-end">
        <RoundedButton buttonText="Send Message" type="button" />
      </div>
    </form>
  </div>
</div>

<!-- Success Result/Error Modal -->
<div
  id="submission-result-modal"
  class="fixed inset-0 z-60 hidden items-center justify-center bg-black/50 px-6 py-24"
>
  <div
    class="bg-n-100 relative flex w-full max-w-[590px] flex-col items-center justify-center gap-20 rounded-[32px] px-10 pt-20 pb-7 text-center"
  >
    <!-- Background Circle Gradient -->
    <div
      class="absolute top-[70%] left-1/2 hidden h-[578px] w-[578px] -translate-x-1/2 rounded-full"
      style="background: linear-gradient(90deg, rgba(22, 125, 229, 0.36) 0%, rgba(95, 74, 200, 0.36) 92.31%); filter: blur(200px);"
    >
    </div>

    <!-- Close button -->
    <button
      id="close-result-modal"
      class="text-n-700 absolute top-6 right-6 flex size-12 cursor-pointer items-center justify-center rounded-full hover:opacity-70"
      type="button"
    >
      <Icon name="close" class="text-n-700" />
    </button>

    <!-- Success -->
    <div data-state="success" class="flex hidden flex-col items-center gap-6 md:w-[85%]">
      <!-- Success Image -->
      <div class="size-20">
        <img
          src="/images/contact-form/form-success.png"
          alt="Success"
          class="h-full w-full object-contain"
        />
      </div>

      <!-- Success message text -->
      <div class="space-y-5">
        <p class="text-n-950 text-3xl font-bold">Message Delivered</p>
        <p class="text-n-700 text-base font-bold">
          We’ve received your details and will take it from here. Expect a response soon.
        </p>
      </div>
    </div>

    <!-- Error -->
    <div data-state="error" class="flex hidden flex-col items-center gap-6 md:w-[85%]">
      <!-- Error Image -->
      <div class="size-20">
        <img
          src="/images/contact-form/form-error.png"
          alt="Error"
          class="h-full w-full object-contain"
        />
      </div>

      <!-- Error Message text -->
      <div class="space-y-5">
        <p class="text-n-950 text-3xl font-bold">Something Went Wrong</p>
        <p class="text-n-700 text-base font-bold">
          Something didn’t go as planned.  Please try again or reach out directly.
        </p>
      </div>
    </div>

    <!-- Progress bar -->
    <div class="bg-n-500 h-[5px] w-full overflow-hidden rounded-2xl">
      <div id="result-progress-bar" class="h-full w-0 bg-gradient-to-r from-blue-500 to-[#8b77f3]">
      </div>
    </div>
  </div>
</div>

<script>
  import { initContactFormModal } from "@/scripts/contact-form";
  initContactFormModal();
</script>
